[2016-07-26 01:22] chameleonbr opened #2 "Enhancement: Support to send text messages with markdown and/or HTML styles"
First, congratulations, it's a nice, really enjoyed.
I use the telegram and saw that it is possible to send messages using HTML or markdown, I found it interesting that to improve the format of the messages.

[2016-07-26 20:45] chameleonbr commented on #2
You could close the issue, sorry.
Sending aditional options object to telegram sender works ok.
Example
`
msg.payload = {chatId:chatId, type:"message",content:"my content,"options":{parse_mode:"Markdown"}};
return msg;
`

[2016-07-26 20:45] #2 closed

[2016-08-11 17:50] jmikerq opened #3 "Unhandled rejection Error continuously showing up"
I was testing all the chatbot nodes in this chatbot contrib, when deploying these chatbot nodes in node-red, whenever I start the flow, an error message would keep showing on the console.

10 Aug 22:55:51 - [info] Stopping flows
10 Aug 22:55:51 - [info] Stopped flows
10 Aug 22:55:51 - [info] Starting flows
10 Aug 22:55:51 - [info] Started flows
Unhandled rejection Error: Closing node.
    at Objec

[2016-08-17 15:33] guidone commented on #3
Thanks @jmikerq I'll look into it

[2016-08-24 16:20] #3 closed

[2016-08-24 16:20] guidone commented on #3
FIxed in #5

[2016-08-26 08:40] guidone commented on #2
thanks @chameleonbr for the feedback, sorry totally missed this issue, there's a drop down now in the message node to select which kind of parsing (markdown or html)

[2016-08-26 09:44] pastukhov opened #6 "Doesn't working with v0.13.4-git"
I can't get it woring with my node-red
after installing i'm getting endless animation on left panel of node red UI and
[code]
in chrome developer console.

[2016-08-26 11:55] jeanfbrito opened #7 "Something is breaking my docker"
This is what shows to me.

Here is my flow:
`[{"id":"a57e8fe2.23234","type":"chatbot-telegram-send","z":"81d92955.9666a8","bot":"9fabba67.1d0838","track":false,"outputs":0,"x":948,"y":380,"wires":[]},{"id":"4cf317bf.b5b5d8","type":"chatbot-command","z":"81d92955.9666a8","name":"","command":"/gate","x":438,"y":321,"wires":[["a9be57fd.fc5088","ebd394e3.da9cf8"]]},{"id":"a9be57fd.fc5088","type":"chat

[2016-08-26 12:06] guidone commented on #7
Do you have more than one bot polling with the same token?

`Unhandled rejection Error: 409 {"ok":false,"error_code":409,"description":"Conflict: terminated by other long poll or webhook"}`

[2016-08-26 12:08] guidone commented on #6
Last node-red version is 0.14.6, can you upgrade the node-red version in you environment?

[2016-08-26 14:23] pastukhov commented on #6
Yes, with 0.14.6-git it is ok.

[2016-08-26 14:23] #6 closed

[2016-08-26 14:53] jeanfbrito commented on #7
Yes, there was 2 telegram receivers. Now I'm getting another problem.  Unauthorized error, but the bot is working. The problem is that exceptions are killing the docker after one day long running.
`Unhandled rejection Error: 401 {"ok":false,"error_code":401,"description":"Unauthorized"}
    at /usr/src/node-red/node_modules/node-red-contrib-telegrambot/node_modules/node-telegram-bot-api/src/telegr

[2016-08-26 15:08] guidone commented on #7
You can have as many receiver as you like, all receivers use the same
client, the problem is if there's some othe client using the same token or
another flow using the same token, do you have a production and local
environment using the same chatbot name / token?
Il giorno ven 26 ago 2016 alle 16:53 Jean Brito <notifications@github.com>
ha scritto:

[2016-08-26 15:21] jeanfbrito commented on #7
No, and to test this I revoked the key and created another one. So it's only here. I can give you access to everything if you want. Is just a test server. "Flow 2"
http://iot.jeanbrito.com:1880/#

[2016-08-26 15:35] guidone commented on #7
Perhaps I've a clue, it could be the last path, I've to be in front a computer to verify, can you try downgrading to version 0.5.3?

[2016-08-26 16:00] jeanfbrito commented on #7
Same problem with 0.5.3. Error 401.

[2016-08-26 19:41] jeanfbrito commented on #7
Maybe we need to slow down the polling rate? What about you give an interface to use a timer to control the polling rate? Or a config on the telegram receiver.
Seems to be a frequency limit on the telegram.

[2016-08-29 07:35] guidone commented on #7
Seems a good idea, I'll work on it today

[2016-08-29 19:35] guidone commented on #7
Ok now it's possible to config the polling interval #8

[2016-08-29 22:44] jeanfbrito commented on #7
Now I'm using 1000ms for the polling rate and is working. No more errors. Let's see if it will survive more time alive. Thanks!

[2016-08-30 07:57] jeanfbrito commented on #7
Unhandled rejection TimeoutError: operation timed out
    at afterTimeout (/usr/src/node-red/node_modules/node-red-contrib-chatbot/node_modules/node-telegram-bot-api/node_modules/request-promise/node_modules/bluebird/js/main/timers.js:16:15)
    at timeoutTimeout (/usr/src/node-red/node_modules/node-red-contrib-chatbot/node_modules/node-telegram-bot-api/node_modules/request-promise/node_modules/bl

[2016-08-30 09:21] guidone commented on #7
Ok, it's better trap the timeout error and redirect thorug node.error to the UI

[2016-08-30 14:02] guidone commented on #7
It's an unhadled exception in the Telegram library, the've fixed it

https://github.com/revkov/node-telegram-bot-api/commit/4a7c33976e178a4b5f6e41c73e6db3c931b6c9c2

but it's still not released yet, I think it's a matter of days before they tag and release this

[2016-08-30 19:31] jmikerq opened #9 "timeout issue and socket issue"
`Unhandled rejection RequestError: Error: connect ETIMEDOUT 149.154.167.200:443
    at new RequestError (/vagrant/stand-alone-node-red/node_modules/node-red/node_modules/node-red-contrib-chatbot/node_modules/node-telegram-bot-api/node_modules/request-promise/lib/errors.js:11:15)
    at Request.RP$callback [as _callback] (/vagrant/stand-alone-node-red/node_modules/node-red/node_modules/node-red-con

[2016-08-30 20:26] guidone commented on #9
I agree is annoying.
It's an untrapped exception of the telegram bot api module. There are some commits for that library that fix the problem but are not yet published, I think it's a matter of days

[2016-09-02 18:52] BrandonSmith opened #11 "Cannot access chat object in subflow"
I attempting to access the chat object that should be available in the flow context from within a subflow. Being a node-red newbie, I'm not even sure a subflow can access the flow context. My function node starts with the following:
[code]
A chatbot listen node is the first node in the subflow and seems to access the flow context just fine. The listen properly responds to the configured tokens.

W

[2016-09-02 19:00] guidone commented on #11
@BrandonSmith try

`var chat = context.flow.get('chat:' + chatId);`

[2016-09-02 19:14] BrandonSmith commented on #11
@guidone `context` is what I started out with, but has the same result.
[code]
Results with:
[code]

However, if the listen node and function node are executing from the top-level flow, everything works as expected:
[code]

[2016-09-02 19:47] BrandonSmith commented on #11
@guidone I think the issue is in [`chatbot-listen.js`](https://github.com/guidone/node-red-contrib-chatbot/blob/master/chatbot-listen.js#L96). Namely, the ChatContext is retrieved from the flow context or created if it doesn't exist. In the condition it doesn't exist, the locally created ChatContext never gets put back into the flow context.

The following patch seems to work:
[code]

[2016-09-02 21:01] guidone commented on #11
Good catch @BrandonSmith , I'll include your fix tomorrow

Thanks!

[2016-09-03 14:30] guidone commented on #11
@BrandonSmith I've pushed a fix in 0.5.8

But it's strange, your fix is right but the chat context is always created in a receiver node.
Is it possible that you used a receiver node in the top level flow and the listen node in a subflow?

Subflows don't share the same context with the top level flow, I can fix it by storing all the chat contexts in the global context, in this way they will be avai

[2016-09-03 20:29] BrandonSmith commented on #11
That is the exact configuration I am exploring... Receive and send in the top-level flow and reusable bits in subflows.

Again, I'm a node-red newb and am only just learning the difference between node, flow, and global contexts. Seems like it would be a common use case to want data living owning flow contexts to be injected into subflows. I understand the value of a "pristine" context being creat

[2016-09-05 15:05] guidone commented on #11
The node context is available just in the node, and is cleared every time the node is redeployed.
Flow context is available for all nodes of the flow but not subflow, it's cleared when the flow is redeployed.
Global is available for every flow.

I'm not sure about what is the idiomatic way but
- it's ok to store chat data in the global context, generally in hosted environment like FRED, they run m

[2016-09-05 16:07] guidone commented on #11
ok @BrandonSmith, would you like to try

`
npm install node-red-contrib-chatbot@0.5.9-beta
`

[2016-09-06 12:55] BrandonSmith commented on #11
Tested. Subflow access to chat context from global context works in 0.5.9-beta. Thanks.

[2016-09-08 09:00] #11 closed

[2016-09-08 09:34] ScuttleSE opened #15 "Trigger message from "external""
Maybe I'm an idiot, but I can't figure out how to trigger a message from the bot to the user without starting with an "In" object.

To take a very simple example;, I want to create a flow that sends a telegram-message when I get a HTTP-request on http://nodered.example.com/sendmessage

It would be excellent with an example like that in the documentation

[2016-09-08 09:39] guidone commented on #15
You have to use a `Conversation node`, you have to specify the chatId, every conversation bot-user has a unique chatId, you can discover it with the `Debug node`

Yes a tutorial about that would be useful

[2016-09-08 15:40] ScuttleSE commented on #15
Hrm... seems to need something more than Conversation.

This is the flow I just created:
![tgflow1](https://cloud.githubusercontent.com/assets/4344284/18355984/50cc3e74-75eb-11e6-9626-d66a48dc466c.PNG)

I get the error "This node is not available for transport: null" and it seems to be attached to the Message-node

[2016-09-08 15:58] guidone commented on #15
You're right, it doesn't get the right transport anywhere.
I'm fixing it

[2016-09-08 16:14] guidone commented on #15
OK @ScuttleSE grab version 0.5.10, you can select the transport with a drop down in the conversation node configuration

[2016-09-09 05:21] ScuttleSE commented on #15
Worked just fine.

[2016-09-12 05:56] rgthelen opened #16 "Facebook Recieve and Send not available on bluemix"
I can get Facebook Receive and Send nodes on the local server, but it does not appear on the cloud equivalent.

[2016-09-12 06:13] guidone commented on #16
What do you mean with cloud equivalent?

[2016-09-17 18:19] hpduong opened #17 "Facebook Receive/Facebook Send crashes my node-Red"
I have this installed on node-Red on Heroku.  Is there an example to using the Facebook receive and Facebook send?  I tried to set it up like the telegram example

 Facebook Receiver --> /hi --> Hello World --> Facebook Send

I've also tried

Facebook Receiver --> Hello World --> Facebook Send

But when I deploy it crashes my server.  I tried it several times after reinstalling everything on Herok

[2016-09-17 21:04] guidone commented on #17
What is on the Heroku logs? Do you get any error message?

What did you use as callback url in Facebook? The callback url is and the node-red admin have different ports, the Heroku reverse proxy only forwards ports 80 and 443 so I think it now possibile to make it work on Heroku.

Have you tried it locally (with ngrok)?

[2016-09-19 17:50] unnikked opened #18 "Telegram receiver does not work"
I'm using an instance on openshift.

Node 0.10
node-red-contrib-chatbot 0.5.13

[code]

[2016-09-20 06:21] guidone commented on #18
@unnikked I think that that node version doesn't support Promises, is the upgrade possible?

Otherwise I can try with a polyfill

[2016-09-20 15:55] guidone commented on #17
@hpduong have tried?

I'm figuring out a solutions for the ports problem in Heroku

[2016-09-20 19:43] hpduong commented on #17
I still can't get it working. I have logs and can post tomorrow.

On 20 September 2016 at 08:55, Guidone <notifications@github.com> wrote:

--

[2016-09-21 06:26] sriram155 opened #19 "Facebook Send/ Receive node not available in RPi"
Facebook Send/ Receive node is not loading on my Raspberry Pi 2. However, it works well on my Windows PC running an instance of Node-RED.

NodeRED version on my RPI2 is v0.14.6, NodeJS v0.10.29

/home/pi/.node-red/node_modules/messenger-bot/index.js:2
const url = require('url')
^^^^^
21 Sep 14:29:05 - [warn] [chart request] Deprecated call to RED.runtime.nodes.re

[2016-09-21 06:32] guidone commented on #19
Which version of node? I was able to run it on a raspberry pi zero, perhaps you ha e to update node

[2016-09-21 06:34] sriram155 commented on #19
node v0.10.29

[2016-09-21 06:35] sriram155 commented on #19
All other features except Facebook Messenger node works perfectly. Telegram and Slack works well.

[2016-09-21 06:41] guidone commented on #19
Yes Facebook receiver uses an external lib that has arrow functions and I
think are not supported by node 0.10.x, I'm working on a lib that get rid
of them, you can wait a couple of day for that or upgrade node to a more
recent version
Il giorno mer 21 set 2016 alle 08:35 sriram155 <notifications@github.com>
ha scritto:

[2016-09-21 06:48] sriram155 commented on #19
I'll wait for your updates. Thanks :+1:

[2016-09-21 16:33] guidone commented on #19
Hi @sriram155 I have a beta version you can test

npm install node-red-contrib-chatbot@0.5.14-beta1

This also moves the Facebook endpoint to the same port of node-red (so it can be used on cloud hosting like Heroku).

I've refactored the lib removing exoteric features of js, but I strongly reccomend to update node and node-red (http://nodered.org/docs/getting-started/upgrading), I've tried node 1

[2016-09-22 09:21] #16 closed

[2016-09-28 13:16] #19 closed

[2016-09-28 17:56] mrummuka opened #21 "Unhandled exceptions with telegrambot"
For a while telegram receiver/sender works without issues in a node-red chat flow. However after node-red has been running for some time ( ~few days? (to-be-measured)) quite a few of these begin to occur.

[code]

Any ideas what might be causing them?

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/38195076-unhandled-exceptions-with

[2016-09-28 17:58] guidone commented on #21
@mrummuka yes, it's an un-handled exception of the telegram library.  I was not able to have it fixed by the author, I think I'm going to fork the lib

[2016-09-28 18:10] mrummuka commented on #21
OK, thanks for the information. Hopefully you'll get it fixed - I really liked your  simple approach with node-red-contrib-chatbot

[2016-10-01 12:21] cowchimp opened #22 "relying on the existence of `msg.payload.chatId` in "Telegram Sender" prevents from using some other nodes"
Hi.

First off, fantastic project! Thanks so much for your work.

I'm building a Telegram bot specifically, but appreciate that you make everything generic to use other platforms as well (I might want to start using Slack in the future).

The issue I encountered happens when I include some other "transformation node" (e.g. the built-in csv, html, json nodes) inside a flow that begins with the "Tel

[2016-10-01 15:25] guidone commented on #22
Thanks @cowchimp!

Can you tell how your flow is configured exactly? What it the last node before the Telegram sender?

All message nodes (like text, image, audio, etc) that are supposed to be connected to the Telegram sender have a line like this:

    var chatId = msg.payload.chatId || (originalMessage && originalMessage.chat.id);

that takes the _chatId_ from the payload or from the _originalMe

[2016-10-01 18:00] cowchimp commented on #22
Hi.

You are correct, of course.
It is my mistake I wasn't using the 'Message' node before the 'Sender' and that's what caused the issue.

Thanks again!

[2016-10-01 18:00] #22 closed

[2016-10-01 18:05] guidone commented on #22
Thanks for your feedback, perhaps I'll include some detailed error message
in case the flow is going directly to the sender without passing through a
message node.

Guido
Il giorno sab 1 ott 2016 alle 20:00 cowchimp <notifications@github.com> ha
scritto:

[2016-10-11 13:53] #18 closed

[2016-10-14 11:09] TotallyInformation opened #23 "Command not being recognised in group"
Hi, when using redbot with Telegram and using the command node. When my bot is added to a group, the incoming command is `/command@botname` instead of just `/command`.

This is expected behaviour as I understand it but the command node does not recognise the input so you have to add a second node which seems excessive and also isn't covered by the documentation.

It would be best if all the nodes

[2016-10-14 12:09] guidone commented on #23
@TotallyInformation Ok, I see the bug, I'll fix soon

Thanks for the feedback

[2016-10-15 09:43] guidone commented on #23
@TotallyInformation it's fixed in the 0.6.5-beta4, will release on stable tag in few days (there are some new nodes that might be unstable)

    npm install node-red-contrib-chatbot@0.6.5-beta4

[2016-10-15 09:43] guidone commented on #23
Thanks for the feedback

[2016-10-15 09:43] #23 closed

[2016-10-15 12:50] TotallyInformation commented on #23
MAny thanks, look forward to the update.

[2016-10-15 13:24] TotallyInformation opened #24 "Command node does not recognise parameters? (Telegram)"
If I have a command node `/ison`, it recognises it if that is all that is typed. However, if I type `/ison all` or `/ison iron` the command isn't recognised - that can't be right can it?

[2016-10-15 13:31] TotallyInformation opened #25 "How do I use the Voice node?"
I can type in a message manually but I need the voice node to pass on a message created in an upstream node. Can this be done?

[2016-10-15 13:36] guidone commented on #24
@TotallyInformation yes, absolutely possible. I can fix that.

Stay tuned :-)

[2016-10-15 13:55] guidone commented on #24
@TotallyInformation Ok, it should be fixed, also parameters are stored in the chat context

`npm install node-red-contrib-chatbot@0.6.5-beta5`

to get the parameters

`var chat = msg.chat();
chat.get('param1') // first param;
chat.get('param2') // second param;`

[2016-10-15 13:55] #24 closed

[2016-10-15 13:55] guidone commented on #24
Thanks for the feedback

[2016-10-15 14:10] guidone commented on #25
If I correctly understood you want to programmatically prepare the vocal message right?

It's sufficient to leave the textarea blank and send a string from the upstream node (for example a function node). As long as you keep the original msg node and, of course, just change the payload, everything should work. Also the message node works this way, so for example in the function node

    msg.paylo

[2016-10-19 08:29] #25 closed

[2016-10-19 16:27] cnavigato opened #26 "Telegram Unhandled rejection TypeError"
What might be the problem with this error?

Unhandled rejection TypeError: Cannot read property 'get' of undefined
    at TelegramBotNode.handleMessage (/home/chris/.node-red/node_modules/node-red-contrib-chatbot/chatbot-telegram-receive.js:160:39)

[2016-10-20 13:11] TotallyInformation commented on #25
Thanks for that. You might want to update the built-in help information too as this is rather light at present and that makes it very hard to use the nodes.

[2016-10-20 13:11] TotallyInformation commented on #24
Thanks, I'll test it as soon as I can.

[2016-10-20 13:37] guidone commented on #25
@TotallyInformation yes I'm updating some node docs, thanks

[2016-10-23 19:36] kennyazrina commented on #17
Hello,

I encountered the same problem, both in local (ngrok) and heroku. I think it has a problem when they tried to initiate a global context for the current runtime. Here are the logs from the problematic part :
[code]

[2016-10-24 10:20] guidone commented on #17
@kennyazrina the problem seems not confined to Facebook, also Telegram fails, can you tell me which version of NodeRed are you using?

[2016-10-24 10:20] guidone commented on #26
@cnavigato can you tell me which NodeRed version are you using?

[2016-10-24 10:45] TomCompiles commented on #26
I was having a similar problem with the FacebookHandler,
when using version 0.15 or 0.15.1 of node-red.

When I downgraded to version 0.14.6 it worked again

[2016-10-24 13:21] kennyazrina commented on #17
@guidone I am using node-red v0.15.1

[2016-10-24 22:08] guidone commented on #26
It appears that the global context in NodeRed is not present, that is strange.

I've upgraded to 0.15.1 but I was not able to reproduce the error, I've been working with 0.15.0 for days and I never got this error, I also inspected the changed files from 0.15.0 to 0.15.1 but nothing touches the contexts in Node-Red.

- do you have something in you configuration for the key *functionGlobalContext*?

[2016-10-25 01:31] monkeydave commented on #26
I am new to node-red and I am also receiving the error, I tried your beta and I still got the error.

This is my system setup
Ubuntu 16.04.1 LTS
Node-RED version: v0.15.1
Node.js  version: v4.6.1
npm version 2.15.9

In my settings.js I have the following

[code]

[2016-11-01 10:07] sebastienjouhans opened #27 "keep getting an error with slack"
Hi I am trying to send a message to slack but I keep getting this error message

TypeError: Cannot read property 'transport' of undefined

I use a an inject node to trgger the message. the payload is set to boolean true.
the message node only contains 'hi'.
the slack node says it is connected.

not sure what I am missing...

Seb

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty

[2016-11-06 00:44] bseishen commented on #26
Also having the same issue.
Ubuntu 16.04.1 LTS
Node-RED version: v0.15.2
Node.js version: v4.6.2
npm version 3.5.2

[2016-11-06 01:06] bseishen commented on #26
Reverted to Node-RED 14.6, then installed 15.2 again. Seem to have fix the problem.

[2016-11-07 16:51] guidone commented on #27
Yes Slack node requires a little bit of rework, I'l try to fix it soon

[2016-11-07 16:58] guidone commented on #26
@bseishen this bug is giving me a really hard time, does it happen sistematically or sometimes?

Is Node-RED crashing at the very first message it receives or after a while?

Is there any particular node-red plugin that can cause this side effect (for example something that was no longer present after you reinstalled version 15.2)?

[2016-11-07 23:37] aleonnet commented on #26
Hi @guidone,
Sorry but, I'm having the same issue on a Raspberry Pi 3 (Node-RED version: v0.15.2, Node.js  version: v4.6.1, Linux 4.4.21-v7+ arm LE)

<<Unhandled rejection TypeError: Cannot read property 'get' of undefined
    at TelegramBotNode.handleMessage (/root/.node-red/node_modules/node-red-contrib-chatbot/chatbot-telegram-receive.js:182:39)

Already figured out what is going on?

Thanks!

[2016-11-08 03:54] bseishen commented on #26
@guidone Only other package installed before this was node-red-contrib-telegrambot. Other than that it was a clean install of Ubuntu server. Node-Red is crashing at the very first message. Now I'm pretty new at Node.js/NPM/Node-Red so could be user error.

[2016-11-08 08:56] guidone commented on #26
@bseishen I'm preparing a patch for that, it's just a more defensive code since I still cannot figure out why Node-RED is returning a null global context (it should not)

[2016-11-12 11:33] aleonnet commented on #26
Just for you guys to know, the node-red-contrib-telegrambot works perfectly.

[2016-11-13 14:58] guidone commented on #26
Ok

```npm install node-red-contrib-chatbot@0.6.6```

should fix the problem, at least it doesn't break if the global context is not available.
Sorry it took so long to fix.

[2016-11-13 14:58] #26 closed

[2016-11-16 19:55] henksc opened #28 "Unable to find context().global in Node-RED"
Hi

I tried the simple Telegram example.
It shows its connected, but when sending a message I get 'Unable to find context().global in Node-RED' in the debug screen.
I'm using node-red 0.15.2 on IBM Bluemix.

What can this be ?

Thanks
Henk

[2016-11-17 09:42] chameleonbr commented on #28
+1

[2016-11-17 10:34] henksc commented on #28
I checked two things:
- functionGlobalContext  is defined in the bluemix-settings. js file : ok
- I created a function node in which I set and get a key just fine : ok

Any ideas why this is not working in the Telegram example?

[2016-11-21 22:39] guidone commented on #28
Hi @henksc , for some reason in the latest versions of NodeRed the nodes are not able to access the global context, with node.context().global in some circumstances.

This is strange I was not able to reproduce it in any way, so I just put some defensive code and what you see in the error console is actually just a warning.

A question: do you see that error multiple times of just once? After the

[2016-11-22 19:11] henksc commented on #28
hi @guidone, thanks for replying.
I did some new tests, but I still get the same result.
The node connects ok to Telegram.  When I send a Telegram message, I get the error message.  It appears every time I send a new message, so not just once.  Also, I have no access to the chat context from a connected node.  I'm new to NodeRed code, but wouldn't calling 'self.error' halt the further execution of

[2016-11-23 19:19] guidone commented on #28
Ok, that helps, I still not able to reproduce the error or to figure out why the global context is empty.

I'm going to prepare a patch that falls back on the flow context if the global one is not available, would you like to test it when it's ready? (later today)

Thanks

[2016-11-26 19:53] rmimura commented on #28
+1

[2016-11-28 08:50] henksc commented on #28
Hi, yes I'm happy to help testing.

[2016-11-30 06:53] ram1505 opened #30 "API.AI node"
Hi,
I am trying to use the API.AI node in my chatflow. I've defined my entities and intents on api.ai and am not sure how to use the api.ai chatbot flow.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/39639513-api-ai-node?utm_campaign=plugin&utm_content=tracker%2F39875166&utm_medium=issues&utm_source=github)** We accept bounties vi

[2016-12-02 12:05] DimiDr0l opened #31 "how to send a message to the event?"
how to send a message to the event?
my node:
`[{"id":"419bc18b.1d416","type":"function","z":"859404ac.f5b828","name":"","func":"console.log(msg);\nmsg.payload.transport = 'telegram';\nmsg.payload.type = 'message';\nmsg.payload.chatId = '********';\nmsg.payload.content = 'test';\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":300,"wires":[["fcd65ca4.ea444"]]},{"id":"3b2db523.3c6dea","type":"inject"

[2016-12-02 14:20] emanuelstanciu commented on #28
+1, @guidone is there any update on this? thanks

[2016-12-03 12:34] ram1505 commented on #30
hi,
any info on this would be much appreciated.

[2016-12-05 14:11] guidone commented on #28
Hi all, I think I've a solution for that, I am testing it a little bit more and then I'll send it out. Thanks for the patience

[2016-12-05 14:22] guidone commented on #31
Hi @DimiDr0l , use a conversation node and set in the configuration menu your chat chatId

<img width="742" alt="schermata 2016-12-05 alle 15 21 09" src="https://cloud.githubusercontent.com/assets/502519/20888301/8dcefcfa-bafe-11e6-8690-31a738b98557.png">

To get your chatId, just attach a debug node to your telegram receiver, send a message and look at the console

[2016-12-05 14:31] #31 closed

[2016-12-05 22:04] guidone commented on #28
Ok, this should fix that

   npm install node-red-contrib-chatbot@0.6.7-beta

can some one test it?

Thanks

[2016-12-05 22:06] davidpp commented on #28
I literally just got this problem and you posted a fix just a minute before ? wow, let me install it and will let you know.

For reference, I was testing with Smooch webhook :

5 Dec 17:03:08 - [error] [chatbot-smooch-node:d16785e6.ad4618] Unable to find context().global in Node-RED

[2016-12-05 22:10] davidpp commented on #28
@guidone with 0.6.7-beta I don't get the global error, but I still have an error when Smooch call the webhook on a new message :

[code]

I just discovered node-red and Redbot, so it might simply be a simple config error on my end.

[2016-12-05 22:12] guidone commented on #28
@davidpp yes this is a node config error, there's no way to send a "writing..." like message through smooch, API doesn't allow it (as far as I know it).
You can use it with Telegram and Facebook

[2016-12-05 22:14] davidpp commented on #28
Yeah just realized that, thanks for the help! Well in this case, 0.6.7 does fix the issue 👍

[2016-12-05 22:35] davidpp opened #32 "Piping the chatbot-ask to smooch Sender always output Burger King and Pizza Hut"
Piping the chatbot-ask to smooch Sender always output Burger King and Pizza Hut (hardcoded values in the sendAction function of smooch).

[2016-12-08 08:41] guidone commented on #28
Fixed in in 0.6.7

[2016-12-08 08:41] #28 closed

[2016-12-08 08:42] guidone commented on #32
@davidpp You're right, fixed in 0.6.7

Thanks for the feedback

[2016-12-08 08:42] #32 closed

[2016-12-10 15:21] henksc commented on #28
Thanks a lot for the fix @guidone !  Works perfectly now.

[2016-12-15 05:21] ram1505 opened #33 "Uncaught Exception"
Hi,
When I send a command from Slack, node-red abruptly terminates with the following error:

`
15 Dec 13:20:18 - [red] Uncaught Exception:
15 Dec 13:20:18 - ReferenceError: self is not defined
    at RTMClient.<anonymous> (/home/pi/.node-red/node_modules/node-red-contrib-c                              hatbot/chatbot-slack-receive.js:142:69)
    at RTMClient.emit (/home/pi/.node-red/node_modules/e

[2016-12-15 09:55] luigisaetta opened #34 "How to send unsolicited messages to the Chat Bot"
Hi,
As platform, I'm using Telegram.

As part of a HomeAutomation concept system, I was thinking to add also a ChatBot as interface. With NodeRED and your module it has been easy to create a prototype.
What I'm not been able to do is to send a message to the Bot without a TelegramReceiver.
The problem is that i need to set up the context. Simple with "transport", but then I get an error of the kin

[2016-12-15 12:41] guidone commented on #34
@luigisaetta perhaps the node you need is the "conversation" node, yes it's missing in the documentation

[2016-12-15 13:42] luigisaetta commented on #34
@guidone : thanks for the answer.
There is still something I'm missing
I start the flow with an inject node (to simulate an event), then I have a conversation node with a chatId (taken from debug of another working flow), a message where I set the Message and then a Telegram Sender. Don't work, I'm still getting msg.chat() is not a function. What am I missing?

Anyway, compliments for the module..

[2016-12-15 13:43] guidone commented on #34
@luigisaetta Thanks, perhaps there's a regression, let me check

[2016-12-15 14:05] guidone commented on #34
@luigisaetta ok, install version 0.6.8, it should be fixed

[2016-12-15 19:45] luigisaetta commented on #34
@guidone: yes it works. Thanks !

[2016-12-17 08:53] #34 closed

[2016-12-17 08:55] guidone commented on #33
Yes @ram1505 the Slack node requires some attention, in the new weeks I'll find some times to fix it and also answer your question about API.ai

[2016-12-18 04:41] ram1505 commented on #33
Thanks

[2016-12-20 15:00] stefanoco opened #35 "Modifying chat ID of Conversation node"
Thinking about this use case:

- I create a group and invite the bot
- a Telegram user sends a message with command "/listen" to the group
- a listening chatbot flow gets chatId and saves it
- from now on, specific events will trigger a message sent with the Conversation node to that chatId

But I don't see any way for specifiying the chatId to Conversation out of manually configuring it, correct?

[2016-12-20 16:53] guidone commented on #35
@stefanoco you're right, it can be useful, I'll work on it.

Thanks for the feedback

[2016-12-20 16:57] stefanoco commented on #35
great project anyway! Thanks

[2016-12-29 13:19] guidone commented on #35
@stefanoco thanks! It's fixed in 0.6.10

[2016-12-29 13:19] #35 closed

[2016-12-31 10:03] peter-clarke opened #36 "RiveScript parser"
I have followed the RiveScript parser example but I keep receiving error on the 'Telegram Sender' node when the second output flow is triggered.

TypeError: msg.chat is not a function

[2016-12-31 13:01] guidone commented on #36
Hi Peter, the output of a rivescript is a string, is there a message node between the parser and the telegram node?
Perhaps I've to improve the error handling

Thanks for the feedback

[2017-01-03 00:35] stejsoftware commented on #33
I've submitted a possible fix to this problem. https://github.com/guidone/node-red-contrib-chatbot/pull/37

[2017-01-03 13:53] peter-clarke commented on #36
Yes there is a message node in between the output of the rivescript module and the telegram sender module.

The first output of the rivescript operates as expected.

Using a debug module I do get something out of the second output that looks to be correct but for some reason it triggers a fault on the telegram sender and I do not receive a reply in Telegram.

[2017-01-03 17:04] guidone commented on #36
@peter-clarke Ok now I see, it should be fixed in 0.6.11

Thanks

[2017-01-04 16:15] guidone opened #38 "Test"
test

[2017-01-04 16:16] #38 closed

[2017-01-10 13:51] #36 closed

[2017-01-12 09:51] guidone commented on #33
thanks @stejsoftware , it's merged

[2017-01-13 14:22] webfrank opened #39 "Facebook Messenger send Buttons"
Code for sending buttons to messenger is broken:
case 'buttons':
            // prepare buttons
            var quickReplies = _(msg.payload.buttons).map(function(button) {
              return {
                content_type: 'text',
                title: button,
                payload: button
              };
            });
            // send
            bot.sendMessage(
              msg.pay

[2017-01-13 15:50] guidone commented on #39
Ok, thanks for the feedback, I'll check

[2017-01-14 14:53] guidone commented on #39
@webfrank thanks your code works, I think I need to reorganize the nodes here:

* I'll rename the "Buttons" node in "Keyboard" and make it available just for Telegram (this option is present only in Telegram)
* I'll rename "Inline Buttons" in "Buttons" and make it available also for Facebook and Smooch. The URL and value parameters are already there, some parameters like "Button feedback", "Alert"

[2017-01-18 15:36] guidone commented on #39
@webfrank this is done, v0.6.13.

Thanks for the feedback

[2017-01-18 15:36] #39 closed

[2017-01-19 12:12] webfrank opened #41 "Message template error"
If I have a message like this:

xxxx {{payload}} xxxx

and payload is a string everything is ok, but if payload is a number it does not get inserted.

[2017-01-19 14:26] guidone commented on #41
I'm not sure I've understood completely, {{payload}} is something that was inserted in the chat context before?

A simple test like this

<img width="756" alt="schermata 2017-01-19 alle 15 25 10" src="https://cloud.githubusercontent.com/assets/502519/22110304/7fcbc018-de5b-11e6-9203-528f68bb1387.png">

Where the function node is

    var chat = msg.chat();
    chat.set('payload', 42);
    return m

[2017-01-19 16:01] webfrank commented on #41
Hi,
{{payload}} is msg.payload with a number. Before Message node I
put a Function node with code:

msg.payload =
String(msg.payload);
return msg;

This way it works.

Il 19.01.2017
15:26 Guidone ha scritto:

{{payload}} is something that was inserted in the chat context before?

and the text node is

with

authored the thread.

[2], or mute the thread [3].

Con Smart 3 Giga a 9 euro/4 sett navigh

[2017-01-21 19:22] guidone commented on #41
Ok I see now, {{payload}} is also used in the template node, it's a good idea to suppor it also here. I'll fix.

Thanks for the feedback

[2017-01-21 19:31] guidone commented on #41
Ok, done in 0.6.14

[2017-01-21 19:31] #41 closed

[2017-01-24 18:35] webfrank opened #42 "Response changes identity"
Hi, I have a simple bot which replies with a message like: "Hi {{firstName}}" and is ok, I got my name when I start it.

Some step ahead I issue a /back command (from a button) which points me to the start message but this time I got "Hi <<Bot Name>>" and not my name, why?

[2017-01-24 18:59] guidone commented on #42
Are you using telegram?

[2017-01-24 19:14] webfrank commented on #42
Yes

In data 24 gennaio 2017 7:59:45 PM Guidone <notifications@github.com> ha
scritto:

[2017-01-24 19:24] rlewkowicz opened #43 "Most everything for slack seems to not work"
When piping from slack receiver to just about anything I get "ReferenceError: self is not defined". If I just do receiver to output, it works just fine (it just echos my input). I see some comments that say that the slack module needs some love which is super ok, It'd still be nice to have that disclaimer up front vs trying it and being like why the heck does this not work (if it does indeed not w

[2017-01-24 19:47] guidone commented on #42
Good catch @webfrank, fixed in 0.6.15. Thanks for the feedback

[2017-01-26 22:15] toddmedema commented on #30
@guidone I'd also love to see support for this!

[2017-02-04 16:46] damylen opened #44 "Alexa support"
Would it be possible to support Alexa/Amazon Echo?

[2017-02-04 17:16] guidone commented on #44
I don't have one, but I guess it's possible, is available some sort of api to send and receive speech to text and text to speech from the device?

[2017-02-07 09:05] rewasa opened #45 "Error, wrong validation token"
I've this message on site https://*****/redbot/facebook
[code]

but token, access token and app secret in Facebook Receiver is correct.
Redbot runs on a bluemix host.
[code]

[2017-02-07 10:08] rewasa commented on #45
now accept facebook hook the token

but now I've following error

´´´
TypeError: Cannot read property 'replace' of undefined
    at fixer (/home/vcap/app/node_modules/node-red-contrib-chatbot/lib/facebook/messenger-bot.js:92:20)
    at /home/vcap/app/node_modules/node-red-contrib-chatbot/lib/facebook/messenger-bot.js:111:36
    at Layer.handle [as handle_request] (/home/vcap/app/node_modules/node-

[2017-02-07 13:57] webfrank opened #46 "Catch telegram error 403"
When sending a message to a user (chatId) which has deleted and blocked the bot, I receive the following error on the debug tab:

7/2/2017, 14:52:46
msg : error
Error: 403 {"ok":false,"error_code":403,"description":"Forbidden: Bot was blocked by the user"}

But I cannot catch it using catch node. What could I do? I need to delete the corresponding chatId from my db.

[2017-02-10 12:39] guidone commented on #46
I see, it's not triggering the catch node. I'll fix, thanks for the feedback

[2017-02-10 14:28] guidone commented on #46
@webfrank would you like to try this beta?

    npm install node-red-contrib-chatbot@0.6.18-beta-1

It's a beta, I've to fix the error handling also for Facebook Messenger

[2017-02-10 14:32] guidone commented on #45
@rewasa I'll check it, thanks for the feedback

[2017-02-12 17:17] cerebrate commented on #43
I'm having the same set of issues; while it works for my most trivial need (notifications via slack), being able to at least get the Listen node working would be nice.

[2017-02-13 09:01] webfrank commented on #46
Hi,

     it works perfectly.

Il 10/02/17 15:28, Guidone ha scritto:

[2017-02-23 10:33] mackelito opened #48 "Cant install getting 404 on slack/client ?"
When running `npm install node-red-contrib-chatbot` I get this..
[code]

[2017-02-23 11:13] #46 closed

[2017-02-23 13:43] mackelito commented on #48
[code]

So I guess it´s more of a permissions issue.

[2017-02-28 18:53] fcioffi opened #50 "Api.Ai Action"
Hi,

is possibile to get action when output from api.ai node?

Thanks,
Francesco

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/42627389-api-ai-action?utm_campaign=plugin&utm_content=tracker%2F39875166&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_

[2017-03-03 04:13] soundman666 commented on #50
Hi,
I was able to get the 'action'. But I have a problem with a topic: I get an array of several topics, do not understand how to reset them.

![image](https://cloud.githubusercontent.com/assets/11494430/23537933/14f14486-ffd8-11e6-8f8a-a94af04c9035.png)

[2017-03-03 04:22] soundman666 commented on #30
I was able to make it work. But I do not really understand how to "navigate" between contexts. I think that because of the "cyclical" nodes "api.ai" context / topic does not change correctly.

![image](https://cloud.githubusercontent.com/assets/11494430/23538144/b9e44456-ffd9-11e6-94eb-bade1fa6100b.png)

[2017-03-03 04:24] ram1505 commented on #30
I was able to get response from API.AI based on the context that I type in Telegram. However, the fulfilment (end result) that API.AI delivers cannot be captured in chatbot. I'm stuck here.

[2017-03-03 13:48] #43 closed

[2017-03-06 08:45] gabbiano83 opened #51 "msg.chat is not a function"
Hi,

I got strange error sending message via telegram sender node after various elaboration of message (like mqtt or other flows).

Comparing input of telegram node with a normal message I see no difference.
Input message is following:

[code]

Error on debug node is the following:
`msg : error
"TypeError: msg.chat is not a function"`

[2017-03-06 19:14] gabbiano83 commented on #51
some infos about stack error:
`TypeError: msg.chat is not a function
    at TelegramOutNode.<anonymous> (/root/.node-red/node_modules/node-red-contrib-chatbot/chatbot-telegram-receive.js:391:29)
    at emitOne (events.js:77:13)
    at TelegramOutNode.emit (events.js:169:7)
    at TelegramOutNode.Node.receive (/usr/lib/node_modules/node-red/red/runtime/nodes/Node.js:211:14)
    at FunctionNode.Node

[2017-03-08 17:38] gabbiano83 commented on #51
Issue still persist, tried some different things, but it appears chat object is not preserved during session transition between different flows like mine

[2017-03-08 22:51] JDHH83 commented on #27
I have a similar issue using Telegram.

[2017-03-10 13:21] thiagopromano commented on #45
Getting the same error, 'Error, wrong validation token' corrected when I restarted my Node.

Now receiving  'TypeError: Cannot read property 'replace' of undefined'. I shall try to debug it.

[2017-03-10 15:14] guidone commented on #51
@gabbiano83 sorry for taking so long to answer.

Basically in msg.originalMessage and msg.chat() are stored all information needed to track the current conversation with the end user.
As general pattern in node-red a node should manipulate the inbound message just adding/changing the value in msg.payload and keeping the original msg object.

So no matter how many node you could chain, at the end o

[2017-03-10 15:18] guidone commented on #48
@mackelito yes. Honestly the slack support is very weak, I've not been using it for a while and it turned out is not working at all.
I'm working on a complete refactor of slack support

[2017-03-10 15:18] #48 closed

[2017-03-10 15:28] guidone commented on #45
@thiagopromano I'm working on it

[2017-03-10 15:30] gabbiano83 commented on #51
Thanks, I guess that, but my main issue is that currently I'm using a flows with MQTT to send remotely "msg.payload" only.
Do you have any idea about how I can preserve msg.originalMessage?
I've already tried to move msg.originalMessage on msg.payload.originalMessage field and after the message receive on the remote site move back msg.payload.originalMessage to msg.originalMessage, but this issue

[2017-03-10 15:34] guidone commented on #51
ok, the chat() method is not essential in the outbound node, the originalMessage should be enough, I can fix it and then try if your solution to put back the originalMessage works

[2017-03-10 15:51] gabbiano83 commented on #51
Grazie :)

[2017-03-10 15:59] guidone commented on #51
@gabbiano83 ok can you try this beta version (I've to fix more bugs before a release)

    npm install node-red-contrib-chatbot@0.6.20-beta-1

[2017-03-10 16:08] guidone commented on #45
@thiagopromano @rewasa I've a fix for that, can you try this beta version (I've to fix more bugs before a release)

    npm install node-red-contrib-chatbot@0.6.20-beta-1

Thanks for the feedback

[2017-03-10 16:10] thiagopromano commented on #45
I ran some tests and req.body is undefined.

I had the same problem in another project where I was missing to use a Body Parser Middleware such as body-parser.

Isn't it better to use RED.httpNode.get() and RED.httpNode.post() like https://github.com/node-red/node-red/blob/0a96259ddfacb10713d1419c155b40123dc54100/nodes/core/io/21-httpin.js to set the listeners?

[2017-03-10 16:10] thiagopromano commented on #45
I'll try the beta. Thanks!

[2017-03-10 16:16] gabbiano83 commented on #51
Funziona!!!!!!!!
It works

[2017-03-10 16:38] thiagopromano commented on #45
No good, req.body is still undefined.

Now receiving
`TypeError: Cannot read property 'entry' of undefined
    at Bot._.extend._handleMessage (/home/vcap/app/node_modules/node-red-contrib-chatbot/lib/facebook/messenger-bot.js:129:23)`

I'm pretty sure it has to do with a missing body-parser.

Thanks!

[2017-03-13 14:55] sdsanders opened #52 "Readme screenshots are broken on flows.nodered.org"
There appears to be an issue with the readme image paths: https://flows.nodered.org/node/node-red-contrib-chatbot

[2017-03-15 11:34] goingmad commented on #27
Same here with Telegram as well, tried also your 0.6.20-beta-1, not solved.

Thanks

Andrea

[2017-03-15 13:08] guidone commented on #27
@goingmad are you using a conversation node at the beginning of the flow? Can you send a screenshot of the flow?

[2017-03-15 17:23] goingmad commented on #27
![nr-flow](https://cloud.githubusercontent.com/assets/9416225/23961688/05a90152-09ac-11e7-97a9-70dd93a4b61b.jpeg)
![nr-error](https://cloud.githubusercontent.com/assets/9416225/23961833/6d1e1b06-09ac-11e7-97cb-9d2f713f1b92.jpeg)

Thanks for your fast reply Guidone,

the bot seems to be ok, the Telegram out node status is connected. Error shown appears after the manual injection in the flow.

[2017-03-15 18:27] guidone commented on #27
You need a conversation node between the inject node and the message node, I am going to write some additional help on this it's a common mistake and the error message doesn't help.

15 mar 2017, 18:23 +0100, goingmad <notifications@github.com>, ha scritto:

[2017-03-15 20:21] goingmad commented on #27
Ok Guidone, perfect result following your instructions below. Just had to dig a bit in order to find the chat id, found useful the following link: https://www.codementor.io/garethdwyer/building-a-telegram-bot-using-python-part-1-goi5fncay
As per me, Telegram Sender now is working properly, thanks a lot!

[2017-03-16 02:03] ram1505 commented on #50
If I'm not wrong, API.AI sends the final outcome of the conversation in the form of "Fulfillment". To access fulfillment data, one must enable websocket. Correct me if my understanding is wrong.

[2017-03-16 02:05] ram1505 opened #53 "Persistent Menu - Facebook"
Hi,
How can I get the facebook [persistent menu](https://developers.facebook.com/docs/messenger-platform/thread-settings/persistent-menu) working with chatbot?

[2017-03-16 08:56] guidone commented on #27
Ok, to get the chat id you can use the debug node, it shows all relevant information in the console.
I'll definitely write more docs about it

Thanks for the feedback

On 15 mar 2017, 21:21 +0100, goingmad <notifications@github.com>, wrote:

[2017-03-17 06:17] ram1505 opened #54 "Heroku"
Facebook send/ receive is not working when I use Heroku. I receive status OK when I visit https://mysite.herokuapp.com/redbot/facebook/_status

[2017-03-17 07:10] ram1505 commented on #54
Here is the Heroku log

`2017-03-17T07:08:14.727211+00:00 heroku[router]: at=info method=POST path="/redbot/facebook" host=xxxx.herokuapp.com request_id=ed0a7606-xxxxxxxxxxx fwd="173.x.x.x" dyno=web.1 connect=1ms service=3ms status=500 bytes=232 protocol=https
2017-03-17T07:08:14.731115+00:00 app[web.1]: TypeError: Cannot read property 'replace' of undefined
2017-03-17T07:08:14.731131+00:00 app[we

[2017-03-17 07:41] ram1505 commented on #45
same problem with Heroku. When I view the log, the Facebook web hook URL shows up something like Webhook URL: http://localhost:30595/redbot/facebook.

[2017-03-17 09:49] guidone commented on #45
@thiagopromano ok I've cleaned up the code, I was able to verify the token in my local machine, can you try this?

    npm install node-red-contrib-chatbot@0.6.20-beta-2

[2017-03-17 09:51] guidone commented on #54
@ram1505 I've disabled the token verification, can you try this?

    npm install node-red-contrib-chatbot@0.6.20-beta-2

[2017-03-17 09:59] guidone commented on #53
@ram1505 At the moment is not possible, but I'm working on it

[2017-03-17 13:47] guidone commented on #52
@sdsanders I guess it's a bug of the nodered.org repository, I've fixed some image urls with the absolute path, let's see the next update.

Meanwhile you can check here

https://www.npmjs.com/package/node-red-contrib-chatbot

the images are ok.

Thanks for the feedback

[2017-03-17 13:47] #52 closed

[2017-03-17 13:48] guidone commented on #45
@thiagopromano released node-red-contrib-chatbot@0.6.20

[2017-03-17 13:51] guidone commented on #53
@ram1505 I have a beta for this, would you like to try?

    npm install node-red-contrib-chatbot@0.6.21-beta-1

Thanks!

[2017-03-17 14:08] ram1505 commented on #53
Sure. Let me try it out and will feedback to you. Thanks.

[2017-03-17 15:22] ram1505 commented on #54
Is this the same as the 0.6.20 just released? I'm getting the following now:

`2017-03-17T15:19:24.694180+00:00 heroku[router]: at=info method=POST path="/redbot/facebook" host=xyz.herokuapp.com request_id=8f6xxxxxxxx fwd="17x.x.x" dyno=web.1 connect=0ms service=1ms status=200 bytes=216 protocol=https`

However, I don't see any debug messages showing up in Node-red.

[2017-03-17 15:23] ram1505 commented on #53
For this to work, I need [this](https://github.com/guidone/node-red-contrib-chatbot/issues/54) to be resolved.

[2017-03-17 15:57] guidone commented on #54
@ram1505 yes.

This line in the log is the call from Facebook to the reverse proxy of Heroku, it should proxy the call to an internal address/port of the dyno inside Heroku.

This is why the web hook for Facebook is mounted on the same address/port of Node-RED otherwise you will never be able to use the Facebook webhook and access the Node-RED control panel at the same time (Heroku afaik just redi

[2017-03-17 16:07] ram1505 commented on #54
I see this `{"status":"ok"}` when I call `/redbot/facebook/test`

[2017-03-17 16:09] ram1505 commented on #54
I do see the Node-RED interface. I did configure the entire app flow with facebook in/ out and text message. Here is the flow that I am using in my Heroku Node RED instance with no success.

`[{"id":"bc8f75d5.ae5ff8","type":"chatbot-rivescript","z":"55550ca.455b9f4","name":"","script":"! version = 2.0\n+ hello bot\n- Hello human!\n\n","x":343.5,"y":241,"wires":[["4a70199.171b3e8"],[]]}]`

[2017-03-17 16:14] ram1505 commented on #54
If I type https://appname.herokuapp.com/redbot/facebook, I get "Error, wrong validation token". When I type https://appname.herokuapp.com/redbot/facebook/test, I get {"status":"ok"}.

On the Heroku log, I see the following:
Webhook URL: http://localhost:46227/redbot/facebook

[2017-03-17 16:16] ram1505 commented on #54
Just to confirm, I've already checked the Messages check box in the Webhook Field in Facebook.

[2017-03-17 16:19] guidone commented on #54
Is this the only node in the flow? A basic flow for a responder should look like

![schermata 2017-03-17 alle 17 17 25](https://cloud.githubusercontent.com/assets/502519/24052433/bfb925c4-0b35-11e7-8f31-4aafcce66783.png)

With a receiver and a sender.

If you wire a debug node to the receiver and you call the https://appname.herokuapp.com/redbot/facebook/test do you get something in the debug cons

[2017-03-17 16:27] ram1505 commented on #54
This is the only flow in my entire Node Red instance.

I get no response when I wire the debug to receiver/ sender.

[2017-03-17 16:29] ram1505 commented on #54
Can password protecting the Node-RED cause an issue?

[2017-03-17 16:46] guidone commented on #54
@ram1505 the password could be a reason, can you try removing it?

[2017-03-17 17:54] guidone commented on #54
@ram1505 thinking again on this, the password is not responsible otherwise it would block also the /test endpoint. For some reason the body of the request disappears in Heroku. I saw that installing node-red in heroku is not trivial, someone propose wrappers to do it, is there anything that differs from a normal configuration in your machine?

[2017-03-17 22:16] ram1505 commented on #54
I'm using wrapper based https://elements.heroku.com/buttons/joeartsea/node-red-heroku

[2017-03-18 03:24] ram1505 commented on #54
OK, I tried Bluemix and I can now get the following on Node-RED debug console:

`object
chatId: null
messageId: "not-a-valid-message-id"
userId: null
firstName: "Test user first name"
lastName: "Test user last name"
authorized: true
transport: "facebook"
message: "This is a test message (will not work with a Facebook Sender node)"`

However, I still cannot send/ receive any messages via the FB mes

[2017-03-19 09:46] ram1505 commented on #54
Any idea why this is happening to me and how can I get it working?

[2017-03-19 22:18] TotallyInformation opened #56 "Can't initiate a chat using the conversation node"
[code]

Fails with `"msg.payload.chatId is empty"`

This also fails:

[code]

So how do you initiate a message to a group?

[2017-03-19 22:26] #56 closed

[2017-03-20 01:17] ram1505 commented on #54
OK, now on Heroku, I can get feedback from Node-RED debug when I visit https://myapp.herokuapp.com/redbot/facebook/test.

However, when I try to chat via the FB messenger, I get no response on the NR debug, however, on the command line, I can see something like this each time I type something on FB messenger.

`2017-03-20T01:11:47.114466+00:00 heroku[router]: at=info method=POST path="/red/flows"

[2017-03-20 16:18] guidone commented on #54
@ram1505 every time you type a message in the Messenger chat, if the page/webhook was configured correctly, you should see a POST call to /redbot/facebook and not /red/flows. Where this /red/flows comes from?

Were you able to make it work locally? Here is explained how to test FB Messenger locally
http://javascript-jedi.com/facebook-messenger-chatbot-redbot/

[2017-03-21 02:10] ram1505 commented on #54
It works on localhost with ngrok. Even on local host, I can only get one way communication work with Facebook. I can send messages via Messenger and I can get those messages to appear on Node Red debug. However, if I use Rivescript to have a response given to the Messenger, I don't get the response to show up in Messenger. I tried the same flow with Telegram and it works perfectly.

[2017-03-21 02:23] ram1505 commented on #54
Finally it worked with Bluemix! The problem I was facing was because of the httpStatic page as well as the httpAdmin page. After removing both and leaving node-red running on the root, I can successfully get 2 way communication to work.

[2017-03-21 02:23] #54 closed

[2017-03-21 10:23] guidone commented on #54
That is a good news, good to know for the future.

[2017-03-21 10:24] #45 closed

[2017-03-21 10:25] #42 closed

[2017-03-21 10:25] #51 closed

[2017-03-22 05:02] syshen opened #57 "didn't receive any incoming message for Facebook"
Hi,

I set up a Facebook in node, a Facebook out node, a function node, and a debug node to print out the payload from "Facebook in".

Facebook webhook verification is working fine. It passes the verification.

But I cannot get any message from "Facebook in" (try to debug by connecting it to a debug node.)

Then I insert a "HTTP input" node to debug, it shows Facebook actually sends messages to th

[2017-03-22 07:28] ram1505 opened #58 "Canned Replies"
How can I create a canned connected conversation with anyone who initiates a chat via FB messenger? What I'm trying to do is to mimic API.AI with Redbot. I would like to get the response from a user for a multiple choice question and make the output as a single JSON formatted output.

For instance, you can think of a scenario like
Q1. What is your Age?
Q2. Male or Female?
Q3. Occupation
Q4. Phone

[2017-03-22 16:22] syshen commented on #57
Just figured out the issue.

I was embedding NodeRed in an express app. But I didn't include body-parser as middleware to parse the incoming json message. And Facebook-Receiver node just use req.body to parse the chat message. And req.body is underfined without body-parser.

[2017-03-22 18:36] guidone commented on #58
That is an interesting question. Yes it's possible, I've simplified the answer with this flow

<img width="1073" alt="api_like_flow" src="https://cloud.githubusercontent.com/assets/502519/24214123/e77cf344-0f34-11e7-967c-e1511156e085.png">

The chatbot here is used like a state machine, in the default state it try to parse the user input trying to get age, gender and the occupation, when the state

[2017-03-22 18:37] guidone commented on #57
@syshen thanks for the feedback, I'll update the docs to include these tips

[2017-03-22 18:37] #57 closed

[2017-03-22 18:45] #33 closed

[2017-03-23 01:11] ram1505 commented on #53
I tried this version. I am unable to get it show up on the Messenger. Not sure how to connect this in Node-RED. Should I connect this directly between the Facebook Receiver & Sender or should I connect it to a Text?

[2017-03-23 01:15] ram1505 commented on #53
I'm getting some errors like this when I try the menu with messenger:

`node:1801) UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 3): Unable to prepare unknown message type
(node:1801) UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 4): Error parsing error payload from Facebook.
(node:1801) UnhandledPromiseRejectionWarning: Unhandled promi

[2017-03-23 01:34] ram1505 commented on #58
Awesome! Thank you so much for such a detailed explanation. Let me try this out and feedback to you.

[2017-03-23 02:18] ram1505 commented on #58
For some reason, the example that you gave is not working for me. It keeps throwing Age,, in my Telegram chat window.

[2017-03-23 02:36] ram1505 commented on #58
Also, is it possible to use the Listen node with Quick replies in FB? I've plans to add some quick replies for each question, for instance

1) Fav color? (quick reply will have Red, Green, White etc)
2) Fav place? (quick reply will have something like London, Paris, Singapore etc)
3) Fav food? (Pasta, Pizza, etc)

[2017-03-24 08:57] ram1505 commented on #58
Hi,
Any clue on why the example flow is not working?

[2017-03-24 10:43] guidone commented on #58
It keeps asking the age because the listen node doesn't understand the sentence and immediately ask the first question. The example flow is quite basic.

The usability of the flow can be improved adding a final rule with just a "*" and connect that to message node that gives back a "I didn't understand" message to the user.

The listen node rules need to be constantly tuned to better understand th

[2017-03-24 10:47] ram1505 commented on #58
What I mean was, it doesn't even prompt any questions for me. It straightaway prints on debug "Age,,," and when I notice the topic it says complete. I'm sorry, but did the flow work for you?

[2017-03-24 11:19] guidone commented on #53
@ram1505 should be connected to a Facebook Sender node

[2017-03-24 11:21] ram1505 commented on #58
Worked perfectly now. Thanks. I'll experiment with this example.

[2017-03-24 11:29] ram1505 commented on #58
Oh wait..once the variable gets stored, it wont ask me the questions second time? When I talk to the bot, it already is throwing out the recorded variables based on my previous chat.

[2017-03-24 12:22] guidone commented on #58
Yes the context variables are persisted unless manually removed (with the context node) or node-red is restarted

[2017-03-24 13:48] ram1505 commented on #58
Ok, I got it working by having 4 separate Context nodes right after Telegram Receiver that are set to Delete the 3 variables and the topic upon each new message received. Is there a simpler way? I tried the below function and it didn't work. Not sure if chat.delete is a valid command.

`var chat = msg.chat();
chat.delete('age');
chat.delete('gender');
chat.delete('job');
chat.delete('topic');

ret

[2017-03-24 15:53] guidone commented on #53
@ram1505 ok I've fixed some bugs

    npm install node-red-contrib-chatbot@0.6.21-beta-2

[2017-03-25 11:26] ram1505 commented on #53
Awesome! Works like a charm!

[2017-03-25 18:48] gerardovf opened #60 "Fancy keyboard"
Hi guidone,
In python I can create this nice keyboards:

**HIGH_BRIGHTNESS_SYMBOL = "\U0001F506" # b'\xF0\x9F\x94\x86'
LOW_BRIGHTNESS_SYMBOL = "\U0001F505" # b'\xF0\x9F\x94\x85'
UPWARDS_BLACK_ARROW = "\U00002B06" # b'\xE2\xAC\x86'
DOWNWARDS_BLACK_ARROW = "\U00002B07" # b'\xE2\xAC\x87'
DOOR = "\U0001f6aa" # b'\xF0\x9F\x9A\xAA'
VERTICAL_TRAFFIC_LIGHT = "\U0001F6A6" # b'\xF0\x9F\x9A\xA6'
CAMERA = "\U

[2017-03-27 02:30] ram1505 commented on #53
One issue is that, the persistent menu seems super persistant that I can no longer remove it from my bot even after deleting the chatbot menu node. How can I remove the menu items from my facebook messenger now?

[2017-03-28 10:24] dalleraro opened #61 "no output from Facebook Receiver"
Hi,
I'm using an instance of the Facebook Receiver on IBM Bluemix,
I configured the messenger webhook to call it and it registered the configuration with no problem.
The issue is that when I send a message through messanger nothing is coming out from the node, I can see it replying to the http post request on the console but there is no output.
Do you have any idea on what could cause the problem?

[2017-03-28 10:32] syshen opened #62 "Is it possible to response multiple messages at once?"
Hi Guidone

I am wondering is it possible to response with multiple messages at once when the bot gets a message from the user?
I checked it might be not possible since the later message will replace the previous one since the message is stored in the same msg.payload.content. But is there any other workaround way to do the same behavior? Or you have any plan to add such feature in the future (all

[2017-03-28 11:16] guidone commented on #58
.remove() is the method to delete a variable from the chatcontext

[2017-03-28 11:16] #58 closed

[2017-03-28 11:17] guidone commented on #53
@ram1505 yes menu in stored on Facebook server, have you tried with a menu node with no elements inside?

[2017-03-28 11:21] guidone commented on #62
@syshen yes, you can split the flow

![Uploading Schermata 2017-03-28 alle 13.19.45.png…]()

you may want to insert a delay node between the message that is supposed to come after the first and the output node, otherwise the order will be unpredictable

[2017-03-28 11:28] guidone commented on #61
Hi @dalleraro, is this https://github.com/guidone/node-red-contrib-chatbot/issues/57 of any help?

[2017-03-28 11:31] guidone commented on #60
@gerardovf yes, I guess the node-red ui will eat all your special chars but you can prepare the payload in an upstream function node, something like

[code]

[2017-03-28 12:19] ram1505 commented on #53
I actually used the Facebook's CURL method with empty call to action and it removed the menu.

[2017-03-28 12:19] #53 closed

[2017-03-28 12:37] dalleraro commented on #61
Thanks for the quick reply,
I think that in bluemix there is a bodyparser middleware, but I'm not complitely sure. I'm new to that platform and it doesn't allow a lot of costumization. Anyway if I use an http node to capture the request from facebook I can see it fine with the req.body.

[2017-03-28 13:10] gabbiano83 commented on #62
Hi,
i use this topic to ask similar question, is it possible to send a single message to multiple users?
E.g For telegram:
`var originalRequester = msg.originalMessage
msg.administratorslist = msg.payload
flow.set('originalMessage',originalRequester);

for (var i in msg.payload){
 var cloned = RED.util.cloneMessage(msg);
cloned.payload = {};
cloned.payload.type = "message"
cloned.payload.messageId

[2017-03-28 15:55] gerardovf commented on #60
@guidone You were right!! Now only the 'newLine' is still not working... (I wanted to show a 2x2 buttons keyboard)

I used this page to get the emoji conversion: http://www.fileformat.info/info/unicode/char/search.htm

Then in the upstream function node I inserted:

_console.log(msg);
var chat = msg.chat();
var cloned = RED.util.cloneMessage(msg);
cloned.payload = {
  type: "buttons",
  content: '

[2017-03-28 16:09] gerardovf commented on #60
@guidone I also checked that 'newLine' is working with "inline-buttons"

_console.log(msg);
var chat = msg.chat();
var cloned = RED.util.cloneMessage(msg);
cloned.payload = {
  type: "inline-buttons",
  content: 'The message with the buttons',
  messageId: null,
  chatId: chat.get('chatId'),
  buttons: [
    {
      value: '\uD83D\uDD06\nON1',
      label: '\uD83D\uDD06\nON1',
      answer: 'this

[2017-03-31 07:53] remybeaudenon opened #63 ""Topic" TAG is not processed into block."
in the following sample the script process successfully  {topic=sorry}  on replying .
unfortunately it does process {topic=random}  on "It's OK, I'll forgive you!"  replying.
Is somebody can help ?
Regards.

! version = 2.0
+ i hate you
- You're really mean! I'm not talking again until you apologize.{topic=sorry}

  // This will match if the word "sorry" exists ANYWHERE in their message
  + [*] so

[2017-03-31 08:00] remybeaudenon commented on #63
add Telegram

[2017-04-03 08:19] ram1505 opened #64 "Parse Location"
Hi,
This could be a lame but how do I change the parsed payload location from

`{latitude: xxxx, longitude: yyyy}`

to

`{lat:xxx, lon:yyy}`

[2017-04-03 08:30] guidone commented on #64
Just use a function blog

[code]

[2017-04-03 08:30] #64 closed

[2017-04-03 08:33] ram1505 commented on #64
Thanks

[2017-04-03 08:45] guidone commented on #62
@gabbiano83 yes you can do it without coding, just split the message node output to as many conversation node for each user who is supposed to receive the message and connect them to a telegram output node

<img width="706" alt="schermata 2017-04-03 alle 10 44 19" src="https://cloud.githubusercontent.com/assets/502519/24601788/8b900718-185a-11e7-821f-462767528b8a.png">

For each conversation node

[2017-04-03 08:45] #62 closed

[2017-04-03 08:54] #60 closed

[2017-04-04 02:33] ram1505 commented on #64
Can you please share how you parsed out the latitude and longitude via Google places in this [example](https://github.com/guidone/node-red-contrib-chatbot#send-a-location)?

[2017-04-06 15:50] guidone commented on #63
@remybeaudenon I don't understand what is not working as expected, if I'm not wrong this is an example taken from RiveScript, this

- It's OK, I'll forgive you!{topic=random}

will output the string "It's OK, I'll forgive you!" and switch the topic to random, this is how is supposed to work

[2017-04-06 15:52] guidone commented on #61
@dalleraro is it working now?

[2017-04-10 13:27] rola93 commented on #61
I have the same issue, but I'm not running in Bluemix. I'm running node-red locally, and using [ngork](https://ngrok.com/) to expose the server. As far as I know, I set up everything well on Facebook, connected Facebook Receiver to a debug node, but no output is shown. any idea? how can I use an http node to capture the request as mentioned by @dalleraro ?

Thanks!

[2017-04-10 14:17] ram1505 commented on #61
Are you using a static landing page? If so, try removing it and make node red editor as landing page. I had same issue on both Bluemix as well as Heroku.

[2017-04-10 14:32] rola93 commented on #61
Solved it! I had to subscribe my app to events from the fan page. I thought it was done when token was generated, but I had to subscribe it in webhooks too.

[2017-04-11 14:53] webfrank opened #65 "Facebook Menu"
Hi, I'm trying to setup a Messenger menu but when I send back to Facebook the output of the block I got this error:

(#105) Number of call to actions exceeds the maximum allowed number

This is the debug output after the node:

11/4/2017, 16:50:28node: 2ea50287.0cd00e
msg : Object
object
payload: object
type: "persistent-menu"
chatId: "1702515586442155"
messageId: "mid.$cAAXuokGHoY1hjsPbAVbXX8SqR5

[2017-04-22 11:39] vincenzo85 opened #67 "no nodes on node-red after installation"
root@v9069:~/.node-red# npm install node-red-contrib-chatbot
/root/.node-red
`-- node-red-contrib-chatbot@0.6.21
  +-- @slack/client@3.9.0
  | +-- async@1.5.2
  | +-- bluebird@3.5.0
  | +-- eventemitter3@1.2.0
  | +-- https-proxy-agent@1.0.0
  | | `-- agent-base@2.0.1
  | |   `-- semver@5.0.3
  | +-- inherits@2.0.3
  | +-- lodash@4.17.4
  | +-- pkginfo@0.4.0
  | +-- retry@0.9.0
  | +-- url-join@0.

[2017-04-22 11:54] vincenzo85 commented on #67
root@v9069:~# cd ./
.cache/       .node-gyp/    .npm/
.nano/        .node-red/    node_modules/
root@v9069:~# cd ./.node-red/
root@v9069:~/.node-red# npm install node-red-contrib-chatbot
npm ERR! Linux 4.4.49-1-pve
npm ERR! argv "/usr/bin/nodejs" "/usr/bin/npm" "install" "node-red-contrib-chatbot"
npm ERR! node v6.10.2
npm ERR! npm  v3.10.10
npm ERR! file /root/.node-red/package.json
npm ERR! code

[2017-04-22 11:54] vincenzo85 commented on #67
root@v9069:~# cd ./
.cache/       .node-gyp/    .npm/
.nano/        .node-red/    node_modules/
root@v9069:~# cd ./.node-red/
root@v9069:~/.node-red# npm install node-red-contrib-chatbot
npm ERR! Linux 4.4.49-1-pve
npm ERR! argv "/usr/bin/nodejs" "/usr/bin/npm" "install" "node-red-contrib-chatbot"
npm ERR! node v6.10.2
npm ERR! npm  v3.10.10
npm ERR! file /root/.node-red/package.json
npm ERR! code

[2017-04-28 17:45] jazzista88 opened #68 "Send back to user a document like pdf"
Hi guidone, i am an italian user and i'm developing my project using RedBot.
I don't know if this is the right session where i should write so sorry in advance for this.

I would ask you if there is a way to send back a document file to the user, for instance a pdf file, as well as images are sent by the image block.
I implemented the user request to create the document, now i should send it throu

[2017-04-30 13:50] ploebb opened #69 "listen-node does not match"
A weird problem: The listen node with two entries "an" and "aus" matches "/heizung an" but not "/heizung aus". I also tried it with "aus[word]".

[2017-05-02 08:33] guidone commented on #69
Hi @ploebb, here is the point: the library I'm using try to parse english language and as you can see it chunks the two word "/heizung aus" into a single entity, for this reason in the listen node a token that matches this chunk should be "heizung aus".

I understand that is not very useful for non-english sentence, I'll try a workaround for that, for the moment try with the token "heizung aus".

[2017-05-02 08:54] guidone commented on #68
Hi @jazzista88 I realized just now that there isn't a File node, I'll create it, what platform are you using? Telegram or Facebook?

[2017-05-03 07:59] guidone commented on #67
Sorry @vincenzo85 what is the problem exactly?

[2017-05-03 08:02] guidone commented on #65
I think the problem is here, items are limited to 5, I'll add into the node validation

![schermata 2017-05-03 alle 10 00 59](https://cloud.githubusercontent.com/assets/502519/25652245/8b07ec26-2fe7-11e7-8d39-2ba45058d579.png)

[2017-05-03 08:02] #65 closed

[2017-05-03 08:02] #63 closed

[2017-05-03 08:05] #61 closed

[2017-05-03 10:28] jazzista88 commented on #68
Hi guidone
First of all thnak you for your answer.
I'm using telegram platform. I created a telegram bot and i'm using it to ask to my node-red flow to make some rest call to a web service and the bot should be able to send me back a file populated by the data downloaded. I am able to create this file (pdf of xlsx) but i don't know how to send it back. I hace done a similar thing using the image n

[2017-05-03 10:52] guidone commented on #68
@jazzista88 I'm working on it, it's a specific node for documents, every platform has different limitations, for example Telegram only allows pdf, gif and zip.
There's a little extrawork to make the component generic for all platform, for example zipping automatically file types not allowed by the platform (facebook or telegram).

In a couple of days I'll have a testable beta version, would you he

[2017-05-03 11:44] jazzista88 commented on #68
Hi guidone
Yes of course i would like to help you in testing this node since it is one of the key component i need.
Thank you so much!

[2017-05-05 07:16] mavericklam opened #70 "Facebook requires a HTTPS webhook"
As the title, how can I start your webhook in https?

[2017-05-05 08:43] guidone commented on #70
Here is a tutorial http://javascript-jedi.com/facebook-messenger-chatbot-redbot/

[2017-05-05 16:52] jazzista88 commented on #69
Hi guidone i have a question about liaten node.
I need to match a sentence like this:

report New Dashboard 1 in pdf

Where New Dashboard 1 is a name with spaces related to a dashboard of a web service.
I set the listen node in this way:

report -> in ->format

In this way it does not work, but i don't know how to set the sentence since the dashboard names are all different and could be just a wor

[2017-05-08 10:18] jazzista88 commented on #68
Hi guidone

Have you any news about send document node?

Thanks in advance!

[2017-05-09 05:32] mavericklam commented on #70
Get it work, thx !!!!

[2017-05-09 05:32] #70 closed

[2017-05-10 13:32] jazzista88 commented on #68
Hi Guidone, actually i made it by my self.
Thank you !

[2017-05-10 14:25] guidone commented on #68
Sorry, almost ready, I'll push it tonight

On 10 mag 2017, 15:32 +0200, jazzista88 <notifications@github.com>, wrote:

[2017-05-10 14:46] jazzista88 commented on #68
Oh thnak you!
As i have written i tried to myself following your work, maybe is not correct but i exploited the image node changing the parameters regarding to the type of file to send

[2017-05-10 17:54] ploebb commented on #69
Thanks for your help @guidone! Sadly your suggestion is no option for my specific case, but I just used a standard switch node and did the parsing in a function-node myself.
Nonetheless your answer was very helpful for understanding the listen-node!

[2017-05-10 21:20] guidone commented on #68
Hi @jazzista88 here is the beta version

`npm install node-red-contrib-chatbot@0.6.23-beta-1`

I also started from the image node and added some extra behaviour like automatic zipping of files not supported by a specific platform.
I'm going to write some docs and tests and then I'll merge to master

[2017-05-14 18:07] guidone commented on #69
👍 ok, I'll improve it, thanks for the feedback

[2017-05-14 18:07] #69 closed

[2017-05-14 19:54] vincenzo85 commented on #67
Issue solved I write a blank file package.json

[2017-05-15 08:35] guidone commented on #67
👍

[2017-05-15 08:35] #67 closed

[2017-05-17 15:23] guidone commented on #68
merged in master

[2017-05-18 12:48] jazzista88 commented on #68
Hi Guidone, i have updated your npm package and i see the document node.
I'm not able to use it, i'll explain you.
i need to provide to the document node the file path + the file name that should be composed by variables, for instance: "/path/to/file/" + msg.payload.filename + "." + msg.payload.format

I have problems using function node or file node in upstream to document node pasting the code y

[2017-05-19 08:02] guidone commented on #68
@jazzista88 I see, there's no way to pass the filename from the upstream node and have the document node load the buffer, I'll fix that

[2017-05-19 08:54] guidone commented on #68
@jazzista88 ok try 0.6.24

[2017-05-19 13:25] jazzista88 commented on #68
I need to update the node?

[2017-05-19 13:27] guidone commented on #68
Yes, install the new version of redbot

`npm install node-red-contrib-chatbot@0.6.24`

[2017-05-19 14:00] jazzista88 commented on #68
can i use update command or i have to use install ?

[2017-05-19 14:08] jazzista88 commented on #68
Yes !! It work perfectly ! Thank you so much !

[2017-05-19 18:40] guidone commented on #68
👍

[2017-05-19 18:40] #68 closed

[2017-05-21 20:08] marcostrullato commented on #15
Hi, I still have the same issue. I'm using 0.6.24.
Is it maybe a regression?

Thanks

[2017-05-22 06:57] guidone commented on #15
It should work fine, there are tests for this

https://github.com/guidone/node-red-contrib-chatbot/blob/master/test/conversation-node.js

Is it possible that in your flow there's a function node that strips away this information?
Is it a flow that you can export here so I can look at it?

[2017-05-22 12:22] guidone opened #73 "Edit a message in Telegram"

[2017-05-22 12:27] guidone commented on #73
This example sends out two buttons after the command "/test", then after one second it edits the sent message and removes the first button (Button A)

<img width="776" alt="schermata 2017-05-22 alle 14 23 47" src="https://cloud.githubusercontent.com/assets/502519/26308637/5238ac9c-3efa-11e7-9e86-098aec44c23d.png">

The conversation node takes the messageId directly from the context (the last sent

[2017-05-22 19:33] marcostrullato commented on #15
Hi, I exported a test flow: it might be I'm wiring the nodes incorrectly.. let me know :-)

Thanks

[{"id":"3eee808b.b2679","type":"chatbot-telegram-send","z":"d7d606ad.3dd17","bot":"","track":false,"outputs":0,"x":1004.0079905192058,"y":469.714243888855,"wires":[]},{"id":"ff020ecc.28235","type":"function","z":"d7d606ad.3dd17","name":"alert via telegram","func":"msg.payload = 'Internal temperature

[2017-05-23 07:21] guidone commented on #15
Just remove the first empty text of the text node

<img width="501" alt="remove" src="https://cloud.githubusercontent.com/assets/502519/26342367/21859936-3f98-11e7-9cad-706dde71ff0c.png">

TL;DR

The `message node` uses the input payload only if the message field in the configuration panel is empty, the bug is that a list with just an empty element is considered not empty.

I've already fixed the

[2017-05-23 14:51] marcostrullato commented on #15
Great! it works!

Thank you

[2017-05-23 14:55] #15 closed

[2017-05-23 20:47] #73 closed

[2017-05-31 07:51] TinajaLabs opened #76 "rocket.chat"
I use rocket.chat (very much like slack) and hubot.

Is there a way to use this with Rocket.chat?  And if so, would you please suggest where I might hook into this lib to make it work.

Thanks,
Chris.

[2017-06-01 06:44] gabbiano83 opened #77 "duplicates messages"
Hi,

I really don't understand if this is a specific issue of this contrib plugin, but designing a simple flow like this:

And send /help command, I got sometimes 2, sometimes 3 identical return messages
![immagine](https://cloud.githubusercontent.com/assets/26217851/26667665/8e40c2c0-46a6-11e7-927f-4106350aa314.png)

Someone have ideas?

I've changed my server unchanging workflow, and even adding

[2017-06-01 19:47] francescoagati opened #78 "rivescript call a flow in async"
can rivescript script call another flow?

[2017-06-04 11:58] mrummuka opened #79 "deprecated node-telegram-bot-api usage?"
Noted this on logs.

Sat, 03 Jun 2017 17:23:50 GMT node-telegram-bot-api deprecated `options.polling.timeout` is deprecated. Use `options.polling.params` instead. at ../../usr/local/lib/node_modules/node-red-contrib-cha
tbot/node_modules/node-telegram-bot-api/lib/telegram.js:304:25

[2017-06-05 07:34] francescoagati opened #80 "chat context memory and scalability"
i have see that chatcontextstore is sync and in memory. this can be a problem for scalability when there are more node process for the same chatbot.
what do you think about move this to an async store (with fiber for example)  and make it pluggable for use with external stores?

[2017-06-10 06:34] guidone commented on #80
Yes soon or later the scalability will be a problem.

I was thinking about something pluggable, in this way anyone can write it own stores (memory, redis, mysql, etc).

Moving every chat context read to an async method will have quite an impact on the code but it's sure we have to deal with asynchronicity.
I know a little about Fiber, I'll look into it

[2017-06-10 16:46] francescoagati commented on #80
Or another solution can be simple get and save the state in the flow with some nodes that read and write the state instead of incapsulate the store in the request and response node

[2017-06-10 16:50] francescoagati commented on #80
Or make the nodes completely stateless and leave the state manage to the flow

[2017-06-10 21:03] francescoagati commented on #80
If the node request are stateless the process of storage manage can be assigned to the flow that is async

[2017-06-14 20:09] fpsimonee commented on #30
I have the same question about navigating between contexts, it's possible to filter dialogue with output contexts for api ai? How does the api ai node work? Is there any documentation or examples of the use?

[2017-06-16 13:28] guidone commented on #30
@fpsimonee I've not been using the api.ai node for a while, I'll work on it and try to improve the documentation and a blog post

[2017-06-16 13:35] guidone commented on #79
@mrummuka you're right, fixed in `0.7.1`

[2017-06-16 13:35] #79 closed

[2017-06-16 14:20] guidone commented on #80
Ok, up to now the key points are

- connectors for the chat context must be pluggable and not embedded in the transport nodes
- connectors can be async
- we don't want to give away the easy of use of the .chat() method inside function and we don't want to rewrite most of the code in an async way just to grab data that is already included in the message payload from the chat platforms (like chatId,

[2017-06-16 15:12] LennartHennigs opened #81 "npm error: Invalid name: "@slack/client""
Hi,
when I try to install the package (on a mac) I get the following error:

[code]

The log file says the following:

[code]

Any suggestion?
Cheers.

[2017-06-16 21:04] francescoagati commented on #80
hi,
i think that the use of context node is a good solution

[2017-06-17 07:09] guidone commented on #81
I tried right now and it works, I generally use [NP](https://github.com/sindresorhus/np) to publish the package, it removes all packages and download them all again before publishing the package.
Which version of npm do you have?
If you try to install the module "@slack/client" separately what do you get?

[2017-06-17 11:55] LennartHennigs commented on #81
Hey,
I updated npm (from 4.1.2 to 5.0.3) and now the install worked fine.
Thanks for the hint and prompt reply.

Cheers.

[2017-06-17 12:05] #81 closed

[2017-06-20 13:06] fpsimonee commented on #30
@guidone Thank you, man.

[2017-06-20 13:25] VitorGiam opened #82 "How to create video upload node"
Hi,
I'm trying to create a node to send videos to fb messenger, I already tried to send in Payload following the pattern of Json example of FB, like that link:
https://developers.facebook.com/docs/messenger-platform/send-api-reference/video-attachment

Can someone help me?

Thanks!

[2017-06-21 16:14] guidone commented on #82
@VitorGiam I'm working on it

[2017-06-21 21:42] VitorGiam commented on #82
I liked your project, I'm going to use it in production. I would like to help you develop missing modules such as carousel, send video and webview. I have a team that can help you. If you are interested, I can talk more about this contribution through messenger. What do you think?

[2017-06-26 14:25] gabbiano83 opened #83 "telegram: save voice message to file"
Is it possible to save audio message received on telegram via mic phone message to a wav or flac file?

How?

Using sample telegram receive node I got message with msg.payload.type = "voice" but how I can save this as .wav or mp3 or flac file?

[2017-06-26 20:09] guidone commented on #83
Yes, you can connect a `Parse node` and select the audio type from the combobox, that will transform the payload into something that node-red is ready to understand, in that case a file buffer. If you connect the parse node to the a file node it will save the buffer into a file.

[2017-06-26 20:36] guidone commented on #82
@VitorGiam I'd love that.

The video node is almost ready, I'll send you a beta tomorrow

[2017-06-26 21:06] fabianoleittes commented on #82
Hi @guidone, how are you?
First all, nice work.
I and @VitorGiam work together on @sciensa a Brazilian company, we are using their project, which is very cool, we want to contribute to the project.
Do you have a contributing code?
How do you test?

How do you do to develop local and test with Facebook? Do you use ngrok?
Could you tell us a bit about your setup?

[2017-06-27 05:04] rdricco opened #84 "Facebook receiver without output"
Almost the same issue as the #57 & #61, but I have body-parser installed and the webhook is subscribed to the page events. Any idea?

[2017-06-27 06:56] guidone commented on #84
If you manually call

https://<your-public-address>/redbot/facebook/test

do you see something in the console? do you see something with the debug node in node-red?

[2017-06-27 07:33] gabbiano83 commented on #83
It works correctly with image file, but not with audio message....
With audio format it appears no message output returned from parse node

[2017-06-27 07:43] guidone commented on #83
Ok, I'll try and fix it

[2017-06-27 08:35] rdricco commented on #84
Both results from /redbot/facebook/test and /redbot/facebook/_status are: {"status":"ok"}

Debug node didn't print any message. (Tried using the redbot-debug node too)

This is what i got on bluemix log when receiving a message:

[code]

[2017-06-27 09:57] gabbiano83 commented on #83
Thanks Guido, we really appreciate your help and support
Matteo

[2017-06-27 16:06] guidone commented on #83
@gabbiano83 fixed in 0.7.2, was totally missing the code to handle upload of document, audio and videos

[2017-06-27 21:44] Alessandro1992 opened #86 "Can you set a phone-call button?"
Hi @guidone, recently i'm working with the redbot tool but i couldn't find if there is a way to set the button node to iniciate a phone call like this https://developers.facebook.com/docs/messenger-platform/send-api-reference/call-button. Thanks for your help.

[2017-06-27 22:16] guidone commented on #82
Hi @VitorGiam I've a beta for the video node, can you help me testing it?

`npm install node-red-contrib-chatbot@0.7.3-beta-1`

Thanks

[2017-06-27 22:25] guidone commented on #82
@fabianoleittes Hi, I'm fine and thanks for using red bot.

Yes, I accept pull requests. RedBot is still a work in progress so it's welcome a bit of coordination to avoid duplication of works.

I generally use Telegram for the development, it's easier to setup, this is also the reason many features for Messenger are yet not implemented.

Yes I've tests, I use **mocha**, to test locally `npm test`

[2017-06-27 22:26] VitorGiam commented on #82
Good, I tested and it's okay! When you do the merge, I'll test it again and report it with new status

Thanks Man!

[2017-06-27 22:27] VitorGiam commented on #82
Right!

[2017-06-27 22:27] guidone commented on #86
@Alessandro1992 Yes, it's missing, I'll work on it

[2017-06-27 22:31] guidone commented on #77
@gabbiano83 it never happened to me and I've never heard, which carrier is it?
Can we consider closed the issue?

[2017-06-27 22:37] guidone commented on #76
Hi @TinajaLabs, no I don't support rocket chat yet. Sorry for the delay of the answer.

You might give a look to `chatbot-telegram-receive.js`, if there's a nodejs library for rocket chat then you can duplicate this node, rename the ids here and there, and start from that.

Basically it's a big switch code, it transform what the specific platform libraries return into a uniformed payload. The same

[2017-06-27 23:26] Alessandro1992 commented on #86
Thanks @guidone, it will be a good enhancement.

[2017-06-27 23:42] fpsimonee commented on #82
@guidone  I'm a member of a Team of @fabianoleittes and @VitorGiam. Tomorrow me and the rest of Team test your feature.

Thank you man.

[2017-06-28 04:33] gabbiano83 commented on #77
Yes, you can close, I think it was a networking issue and not related to node-red
Thanks

[2017-06-28 15:06] fpsimonee commented on #82
@guidone I'm test your feature, but I need to change your code in facebook helper, in function upload Buffer, the type is setted in IMAGE, I change to params.type and I was able to send videos.

![captura de tela de 2017-06-28 12-02-15](https://user-images.githubusercontent.com/11202288/27644359-b1bca2f6-5bf9-11e7-9669-650b1f27786c.png)

I was left with a question, can I upload videos only if I ha

[2017-06-29 07:05] guidone commented on #84
@rdricco thanks, I'll try with this boilerplate and try to add some debug/warning message and resolve this problem for good

[2017-06-29 07:52] guidone commented on #82
@fpsimonee this is common pattern to initialize an object with default values, that line does not change the final content of `params.type`

`
params = {type: 'my_type'};
params = _.extend({type: 'another_type'}, params);
// params.type == 'my_type'
`

I suspect that the wrong type was passed by the parent function, I've tried your flow and it works, even if at the beginning I got an error that I

[2017-06-29 15:18] rdricco commented on #84
Nice. I tried on heroku using this "Button" too and have the same results.

[2017-07-04 09:37] jasminejasmine opened #88 "Possible to add more message templates for facebook?"
It's great to have button quick replies for facebook. However, there are also many other facebook templates, like generic template, list template, etc.
Can you please add the message formats for such templates?
I believe that will be helpful for many people. Thanks.

[2017-07-04 10:55] guidone commented on #88
Yes! I'm working on it

[2017-07-05 03:19] jasminejasmine commented on #88
@guidone Great to hear that! May I know any timeline for this? Thanks

[2017-07-05 05:28] Hostile opened #89 "No response from bot"
Hi, followed all steps
Created flow but not geting any response from bot

What it can be ?

How do I put my username?   as @username or username?

http://i.imgur.com/dTwmRp9.png

http://i.imgur.com/DbYlIhM.png

http://i.imgur.com/9BTa5go.png

[2017-07-05 17:03] fpsimonee commented on #89
@Hostile Hi man, you need to connect the nodes to send the messages with the redbot. To test your Robot, at least on facebook, I do not need to add anything in the Users field. Only configurate a testers and Developers on Facebook Developers console.
![screenshot from 2017-07-05 14 03 16](https://user-images.githubusercontent.com/11202288/27875756-b9fe8218-618a-11e7-9cb5-2fdc6fe46559.png)

[2017-07-06 03:51] Hostile commented on #89
Thank u.
Sorry for asking here in issues.
Hiw do I connect dots ?

[2017-07-06 06:29] Hostile commented on #89
@fpsimonee thanks, doing it first time
got response now :)

[2017-07-06 06:29] #89 closed

[2017-07-07 14:39] #83 closed

[2017-07-07 15:21] guidone commented on #84
Does it work locally?

I tried locally with this

https://github.com/ibmets/node-red-bluemix-starter/blob/master/index.js

and it works, I'm able to receive the payload. Can you check if in the configuration panel on `Facebook Receiver` you have just one you have just one configuration with the same token.

It happened a couple of times that with a double bot with the same token it was not able to

[2017-07-07 19:57] rdricco commented on #84
I don't know why but it's working now. I had a error when starting my node-red and need to reinstall the chatbot node, after this worked on first test. Thank you anyway.

[2017-07-07 19:57] #84 closed

[2017-07-15 13:53] TotallyInformation opened #90 "Question: Best way to handle mix of command and non-command input?"
There does not seem to be a logical way to handle a bot that allows both commands and conversational input other than manually setting up a switch or function node to split the commands each to their own output with a catch-all output for whatever is left.

Is this the best way to approach this issue? If not, what is?

It would be REALLY helpful to have an example of this processing in the WIKI or

[2017-07-15 15:10] TotallyInformation opened #91 "When Telegram bot is removed from a group, I get an error"
The following error is generated when my bot is removed from a group:

[code]

Latest version of Node-RED, latest release of Chatbot, Node.JS v6 (latest LTS)

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/47265700-when-telegram-bot-is-removed-from-a-group-i-get-an-error?utm_campaign=plugin&utm_content=tracker%2F39875166&utm_medium=

[2017-07-15 15:55] TotallyInformation commented on #80
This should also get you permanent stores for "free" in a future version of Node-RED as I believe that there is a plan to implement permanent pluggable stores for global/flow/context.

[2017-07-15 23:14] TotallyInformation opened #92 "Enhancement Request: Context Node Set from msg, etc"
The Context node should be able to set a context variable based on the input message for when the bot is initiating a conversation (e.g. from a web interface or alert). It should use the same capabilities as the Node-RED native change node (e.g. msg.xxxx, global, flow, JSONata).

[2017-07-16 00:11] TotallyInformation opened #93 "Bug: Rivescript node editor does not expand vertically"
The Rivescript node's edit textarea does not size iteself correctly. I appears to be a fixed vertical height and is generally far too small to be helpful.

[2017-07-16 00:26] TotallyInformation opened #94 "Bug: Rivescript assumes error when global debug true"
If you use `! global debug = true` in a rivescript, the node shows a status of "parsing errors" even if the script is valid.

I think this is because the debug output uses `node.error`.

[2017-07-16 11:22] TotallyInformation commented on #78
I don't think you can do that directly. Though you can call JavaScript functions inside Rivescript. The way I am approaching the issue is to output some text that starts with a keyword - in my case something starting with an underscore - and then using a switch node after the rivescript node to filter off the "commands" so that they don't go out to the external service (Telegram in my case).

Here

[2017-07-16 11:23] TotallyInformation commented on #78
Just to note that I'm trying to work up a blog post to show people how to use chatbot in a more realistic way than the current tutorials show.

[2017-07-17 07:39] guidone commented on #90
@TotallyInformation I get your problem, my idea was to not process all command-like in all parse node (except `Command node` of course), so they will not trigger any default message if there's a no match

What do you think?

Thanks for the feedback

[2017-07-17 09:50] guidone commented on #94
@TotallyInformation Ok, makes sense, I'll fix using the normal debug

[2017-07-17 11:28] guidone commented on #92
@TotallyInformation ok basically the feature requests are two

1. be able to manipulate the chat context programmatically by passing some input parameters to the context node (if I've understood correctly).
This is redundant, since it's possible to do that in a simple function node (after a conversation node for example)

[code]

And yes there's some missing documentation here https://github.com/g

[2017-07-18 10:00] guidone commented on #94
fixed in 0.7.4

[2017-07-18 10:00] #94 closed

[2017-07-18 10:01] guidone commented on #93
Fixed in 0.7.4

Thanks for the feedback

[2017-07-18 10:01] #93 closed

[2017-07-18 10:01] guidone commented on #90
Fixed in 0.7.4

Thanks for the feedback

[2017-07-18 10:01] #90 closed

[2017-07-18 10:01] #82 closed

[2017-07-18 10:02] #77 closed

[2017-07-21 03:40] metabaron commented on #88
Please do it :) I tried to "emulate" the correct code through the use of a "function" from Node Red but it seems there is something that I do not understand hence it's not working.

Thank you and good work here mate !! some typos here and there but hey, the code works

[2017-07-24 07:31] guidone commented on #88
@jasminejasmine @metabaron I'm working on it, I think I've found a UI solution for both buttons, template and the horizontal carousel

I'll keep you posted with a beta as soon as it's usable

[2017-07-25 03:08] metabaron commented on #88
Oh cool, good news then. Don't forget to let us all program that through a "msg.payload" injection please :) as I do most of my processing before using the buttons (and I'm sure I'm not the only one here)

[2017-07-26 07:15] guidone commented on #88
@metabaron would you like to give it a try?

`npm install node-red-contrib-chatbot@0.8.0-beta-1`

What's new
- generic templates
- button template
- quick replies
- all buttons except Buy
- refactored injection with msg.payload

[2017-07-26 07:15] #92 closed

[2017-07-26 07:16] guidone commented on #86
Hi @Alessandro1992 I'm working on this, you can try it in beta installing this

`npm install node-red-contrib-chatbot@0.8.0-beta-1`

It will be merged in few days

[2017-07-26 07:17] #76 closed

[2017-07-26 07:25] guidone commented on #80
Closing, added to the roadmap https://github.com/guidone/node-red-contrib-chatbot/wiki/Roadmap

[2017-07-26 07:25] #80 closed

[2017-07-26 07:25] #78 closed

[2017-07-26 07:38] metabaron commented on #88
Ok, let me try it and come back to you ASAP

[2017-07-26 07:43] metabaron commented on #88
Ok, let me try it:
[code]

[code]

Seems all good, writing some quick and dirty code and I'll come back to you hopefully within the next hour.

[2017-07-26 08:14] metabaron commented on #88
Not sure if it's me but the whole thing seems slower to go FROM Facebook TO the Node-Red and FROM the Node-Red TO Facebook.

`[{"id":"5352b52b.396a2c","type":"chatbot-inline-buttons","z":"1714cf30.8cfd01","name":"Test button","buttons":[{"type":"url","label":"Button URL 1","url":"http://googleTest1.com","webViewHeightRatio":"tall","extensions":false,"answer":"","alert":false},{"type":"postback","l

[2017-07-26 14:05] guidone commented on #88
@metabaron Thanks for the feedback!

1. I'll check with your JSON but I guess that if the button is not centered is a glitch in the Android client
2. Yes the limit is 3 buttons, I'm updating the docs, there also a validation in the node, trying to use more that 3 buttons the button looks like
![schermata 2017-07-26 alle 15 57 13](https://user-images.githubusercontent.com/502519/28625183-b72853a6-7

[2017-07-26 14:08] Alessandro1992 commented on #86
Ok, thanks!

[2017-07-27 01:04] metabaron commented on #88
I understand that the display will show an error but honestly I think most of the people have no idea what the triangle and the circle means (and it took me a while to notice and understand them when I started playing around with Node Red). Just saying :)

For the MAX size, I was talking about generic template. I took the google landing page logo as an image and under my Android Facebook messenger

[2017-07-27 08:33] guidone commented on #88
Yes it's not immediate, but it's how Node-RED works, there was a discussion about that here https://github.com/node-red/node-red/issues/557, basically their philosophy is to allow the user to save a node in any case even if the configuration is not validated and the alert for possible misconfiguration the moment the flow is deployed

The second problem I think will be solved by the Generic Templat

[2017-07-27 09:26] metabaron commented on #88
Ok cool

[2017-07-27 18:00] fpsimonee commented on #88
@guidone Hi, I working with your project, and I have to use list template. I test your beta version and not found this template. You planning to add this ? You'd like help for do this?

[2017-07-27 21:36] guidone commented on #88
Yes I'll add it, not sure if I'll release in 0.8.0 or next iteration, but soon!

Il 27 lug 2017, 20:00 +0200, Felipe Paiva Simone <notifications@github.com>, ha scritto:

[2017-07-28 08:20] guidone commented on #88
@fpsimonee you have it, install this

`npm installnode-red-contrib-chatbot@0.8.0-beta-2`

There are still some docs and tests to write

[2017-07-28 13:38] fpsimonee commented on #88
@guidone Hi, I will install this and test, thank you!

[2017-07-28 15:17] fragolinux opened #97 "missing chatbot-analyze"
hi, i installed node-red-contrib-chatbot and when i start manually node-red via node-red-start, it complains about a missing module:

28 Jul 17:11:57 - [warn] Missing node modules:
28 Jul 17:11:57 - [warn]  - node-red-contrib-chatbot (0.7.4): chatbot-analyze

but i can't find such a node... can you address me on how to solve, or bypass this warning? Thanks

[2017-07-28 15:37] alex0520 opened #98 "Facebook Receiver is not getting voice notes"
Hello, I'm trying to use the Facebook receiver node, it works well with video and text messages, but  when I send a voice note, the receiver node is not getting fired, I am using ngrok, so I see that the request is there, but nothing happens in my flow, could you help me? thanks!

    "object": "page",
    "entry": [
        {
            "id": "1507595379263575",
            "time": 1501256247170

[2017-07-28 16:29] guidone commented on #97
Yes, this node was deprecated a while ago, too low level, basically replaced by listen node and language node. How are you using it?

[2017-07-28 16:41] fragolinux commented on #97
actually just installed with Peter Scargill's Script, plan to play with it during vacations :)
so that warning can be ignored? or can you update to point to the correct nodes?
thanks

[2017-07-28 22:24] alex0520 commented on #98
I figured out that there is not support for audio files, so I added it, here is the pull request  #99

[2017-07-29 10:07] guidone commented on #98
Perfect! Thank you very much for the contribution, I'merging it

[2017-07-29 10:07] #98 closed

[2017-08-02 03:56] metabaron opened #100 "Delete persistant menu"
Hello,

It would be nice to have a way to delete a persistant menu (https://developers.facebook.com/docs/messenger-platform/messenger-profile/persistent-menu#delete)

[2017-08-02 07:03] guidone commented on #100
Thanks, I'll add it

[2017-08-02 17:37] GermaN-st opened #101 "How send telegram sticker from bot?"
Hello !
Is it planned to develop a node for sending **stickers**. For telegram ?
For me, it is very important that the bot can send stickers (Created by me or from the standard set of telegram).
Perhaps this can already be done? Prompt please then how?

P.S. And thank you for the great solution for developing bots ;)

[2017-08-02 21:15] guidone commented on #101
Thanks @GermaN-st !

Yes sending the sticker should not be complicated, I'll add to the roadmap

Thanks for the feedback

[2017-08-04 14:12] guidone commented on #97
Ok thanks, I think this script has an old flow, you should see a dashed node (means it's in the configuration but the node doesn't exist anymore) you can safely delete it

[2017-08-04 14:12] #97 closed

[2017-08-04 14:12] guidone commented on #88
This is merged in 0.8.0

Thanks everyone for the feedbacks

[2017-08-04 14:12] #88 closed

[2017-08-04 14:13] guidone commented on #86
This is merged in 0.8.0

[2017-08-04 14:13] #86 closed

[2017-08-05 07:45] guidone commented on #100
This is done in 0.8.1

[2017-08-05 07:45] #100 closed

[2017-08-07 14:54] fpsimonee opened #103 "How to use API.AI node in new version of RedBot?"
Hi,
I'm update the redbot plugin for new version, 0.8.1, but I put the access token in the field access but it's not work. In my console I this message and on facebook nothing apear.

the Message is:
"TypeError: Cannot read property 'apiAi' of null"

![screenshot from 2017-08-07 11-52-06](https://user-images.githubusercontent.com/11202288/29032176-dd93a76c-7b66-11e7-87d5-50612d18a3f8.png)

Anythin

[2017-08-08 08:03] guidone commented on #103
The configuration panel for API was completely missing, I've fixed it for now, I think this node need a little refactoring.
Can you check it in 0.8.2 and give some feedback if you make it work?

Thanks for the feedback

[2017-08-08 08:03] #103 closed

[2017-08-08 16:45] fpsimonee commented on #103
@guidone I'm installed the version 0.8.2 and works normally, thanks man.

[2017-08-09 07:14] guidone commented on #101
added in 0.8.3

Thanks for the feedback

[2017-08-09 07:14] #101 closed

[2017-08-09 12:18] TotallyInformation opened #106 "Enhancement: Please add a CHANGELOG.md to your repo"
Hi. It is really hard to know what has changed from one version to another.

[2017-08-09 12:47] guidone commented on #106
it's in the wiki

https://github.com/guidone/node-red-contrib-chatbot/wiki/Changelog

I can modify the build task to replicate this also in CHANGELOG.md

[2017-08-10 13:01] talhacaliskan opened #108 "Bot settings"
Hi . Where bot settings are stored. I'm not talking about botname in the flows.json. I'm talking about token secrets data

[2017-08-10 13:12] guidone commented on #108
@talhacaliskan sensitive data in Node-RED are stored in a different place (not `config` but `credentials`) and are not exported with the flow.

See here https://nodered.org/docs/creating-nodes/credentials

[2017-08-11 15:46] TotallyInformation commented on #106
Most kind, thank you. It is hard, when consuming so many libraries and modules, to be able to keep track of change information so this is really useful.

[2017-08-11 15:46] #106 closed

[2017-08-11 20:03] #108 closed

[2017-08-11 20:04] guidone commented on #106
👍

[2017-08-15 14:13] GermaN-st commented on #101
@guidone
I checked the sending stickers. This works great. Thank you.

[2017-08-23 20:59] buddhikapp opened #110 "No Response from Facebook on heroku"
I have the same issue that was raised earlier few time in this section. I don't get any response from Facebook. I can subscribe to webook and I do get console log with POST url as /redbot/facebook/. Nothing on debug node. I do get debug messages when trying /test and /_status.
Everything is working fine with Telegram.
Can anyone help me please. Trying to get this working for 2 days now.

[2017-08-24 07:11] guidone commented on #110
@buddhikapp most of the people have this problem using a node-red wrapper for Heroku that does not include the body-parser middleware in Express, check this, it should solve the problem

[2017-08-25 15:24] GermaN-st opened #111 "Support Markdown and HTML tags in keyboards nodes (telegram)."
Hello.

It is planned to do support Markdown and HTML in the text to be sent to the chatbot-inline-buttons (built-in telegram keypad) and chatbot-ask (telegram keypad) nodes?

Now the tag support works only in the text node(chatbot-message).

It is very necessary to send for example buttons and text, in which you need to make part of the text bold. Now, if you specify in the message for example ta

[2017-08-25 16:29] guidone commented on #111
I can add to the roadmap, I just need to find a consistent way to add it to the node interfaces.

[2017-08-25 16:31] guidone commented on #111
Seems that the markdown support is a property common to different nodes, so instead adding a flag to each node (like messages), this should be moved to the telegram sender node, becoming a general property for all messages sent to the particular telegram node.

[2017-08-25 16:32] guidone commented on #111
What do you think? (Sorry the mobile client for git keep sending unfinished messages)

[2017-08-25 16:35] GermaN-st commented on #111
It would be cool and comfortable. You can specify tags anywhere, in function, in keyboard nodes, etc. And their parsing goes at the very end in the sending node. Great idea !

[2017-08-28 01:37] rahmatullah5 opened #112 "Error When Installing node-red using npm"
when i try to install Redbot http://red-bot.io/ ,i execute the first line of their instalation code for installing node-red `sudo npm install -g node-red` ,but i getting this errors

    npm WARN deprecated nodemailer@1.11.0: All versions below 4.0.1 of Nodemailer are deprecated. See https://nodemailer.com/status/
    npm WARN deprecated node-uuid@1.4.8: Use uuid module instead
    /usr/local/bin/

[2017-08-28 02:01] #112 closed

[2017-08-28 02:02] rahmatullah5 commented on #112
Forget to add `--unsafe-perm`

[2017-08-28 06:52] #110 closed

[2017-08-28 18:29] guidone commented on #111
I'm afraid html and markdown are not supported in inline buttons and keyboards

<img width="769" alt="schermata 2017-08-28 alle 20 27 37" src="https://user-images.githubusercontent.com/502519/29787495-6c8a5d2a-8c2f-11e7-8742-c9373bdada13.png">

the _sendMessage_ methods supports  the `pare_mode` but only works for the text context and not the buttons.

[2017-08-28 19:54] GermaN-st commented on #111
Hello @guidone
I probably did not correctly explain. I mean support html not in the text of the button, but in the message that goes along with the buttons. On the screenshot noted in which message I want to support html

![11](https://user-images.githubusercontent.com/30233260/29790803-94394d9a-8c43-11e7-9b3e-dc29bf5250ee.png)
![222](https://user-images.githubusercontent.com/30233260/29790804-945

[2017-08-30 07:18] guidone commented on #111
Ok, this is done, five me a day or two to fix some tests and it's ready

[2017-08-30 07:24] GermaN-st commented on #111
Thank you very much. I am waiting... ;)

[2017-09-04 07:21] guidone commented on #111
@GermaN-st merged on master, thanks for the feedback

[2017-09-04 07:21] #111 closed

[2017-09-06 19:34] fpsimonee opened #114 "How to send a Value to Generic Template and List Template"
Hi, I'm trying to send a value from api to generic template for render a image, my image is in s3 bucket and I'm call an API to send a link for my image.

In node red, I'm debug this request and I'm get the link but, if I set the ImageURL field with the msg.payload.myvariable, in console a see one error. This error, told me that my url is not valid. I debug the node and found in console the object

[2017-09-09 14:39] MatzeJoerling opened #115 "hipchat support, feature request"
the bot framework looks very sophisticated. i would like to use it with our hipchat installation.
any plans / ideas to implement hipchat as another chat service?

regards

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/49155162-hipchat-support-feature-request?utm_campaign=plugin&utm_content=tracker%2F39875166&utm_medium=issues&utm_s

[2017-09-11 07:42] guidone commented on #114
Hi @fpsimonee `{{msg.payload[0].attributes.url}}` is not a valid URL for generic template, templating is not supported in these fields.
You can leave the the elements field blank in the generic template and send them from the upstream node (where I guess the S3 is available in some variable)

[code]

[2017-09-11 07:47] guidone commented on #115
Thanks for the feedback @MatzeJoerling , I'll look into to, as far as I know HipChat does not support advanced feature like buttons, etc so it will be sufficient to implement messages and upload/download of binaries.

I'll add to the roadmap, since I'm not a regular user of HipChat I'll need someone to help testing, are you in?

[2017-09-11 09:58] GermaN-st opened #116 "Hide keyboard flag in Telegram Out node."
Hello @guidone .

It is often necessary after sending the keyboard and receiving the user's response, immediately hide it, since it is no longer needed.
Now, in order to hide the keyboard, after the user's response, I call the function node function, which sends a request to the telegram node and hides the keyboard. These are additional nodes on the flow.

Is it possible to simplify hiding the key

[2017-09-11 16:31] MatzeJoerling commented on #115
looks like atlassian today launched "Stride", what looks like the successor of Hipchat??
I certainly will run hipchat für a longer time because i run the onprem solution.
For sure i will test all what you need.

[2017-09-11 20:57] fpsimonee commented on #114
Hi @guidone, I test your solution and Works. Thanks man.

[2017-09-12 08:03] guidone commented on #114
👍

[2017-09-12 08:03] #114 closed

[2017-09-18 14:48] guidone commented on #116
@GermaN-st I understand, that will be useful, I'll fix it

[2017-09-20 11:38] jmai444 opened #117 "Error: ETELEGRAM: 409 Conflict: terminated by other long poll or webhook"
In a flow running for weeks without change or even a restart I started getting this error a few days ago.
`
Error: ETELEGRAM: 409 Conflict: terminated by other long poll or webhook`

Notifications were still working (not sure about messages to the bot), I only noticed because the system logs filled all the space on the device which caused some sluggishness in recognising I was home - the flow does

[2017-09-20 12:18] jmai444 commented on #117
A further possibility - I realise I changed ISPs around the time this began showing up in the logs.  Speed is better but latency seems worse.  Ping to api.telegram.org is ~400ms.  I tried changing the retry / timeout parameter in the telegram config nodes to 2000ms but the problem remains.

[2017-09-20 20:11] jmai444 commented on #117
OK, the problem with the second bot was definitely related to a Telegram outage in Singapore.  So coincidence or not?

This morning I've tried upping the polling parameter in the one remaining Sender node to 10000ms on the node red bot.  The issue remains, but is occurring every 10 seconds rather than every second as you'd expect.

I'm wondering if this problem is related to the outage, too, and I

[2017-09-21 09:51] jmai444 commented on #117
This issue was due to unused configuration nodes in the flow.  Not sure if this was due to my mistake or simply a second deployment of the flow.  My misreading of the log files made me believe it began after the flow had been running for a while.

[2017-09-21 09:51] #117 closed

[2017-09-24 07:07] shivamgupta211 opened #118 "facebook bot don't work after deploying it after the node-red server start"
<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/49670334-facebook-bot-don-t-work-after-deploying-it-after-the-node-red-server-start?utm_campaign=plugin&utm_content=tracker%2F39875166&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F398

[2017-10-06 07:07] JeffrySteegmans opened #119 "Can't send image to telegram"
I'm trying to send a photo to telegram, however I always get the following error:

**Error: ETELEGRAM: 400 Bad Request: there is no photo in the request**

My flow looks like:
![image](https://user-images.githubusercontent.com/17906736/31266717-67a6fea8-aa75-11e7-8d6c-1d7f8e5b214a.png)

The code of my flow is:
[{"id":"a198dab0.466488","type":"debug","z":"181aaf5f.759b41","name":"","active":true,"c

[2017-10-06 07:55] JeffrySteegmans commented on #119
PS: msg printed by debug node:

`{"payload":{"type":"photo","content":{"type":"Buffer","data":[255,216,255,224,0,16,74,70,73,70,0,1,1,0,0,1,0,1,0,0,255,219,0,67,0,8,6,6,7,6,5,8,7,7,7,9,9,8,10,12,20,13,12,11,11,12,25,18,19,15,20,29,26,31,30,29,26,28,28,32,36,46,39,32,34,44,35,28,28,40,55,41,44,48,49,52,52,52,31,39,57,61,56,50,60,46,51,52,50,255,219,0,67,1,9,9,9,12,11,12,24,13,13,24,50,33,28,33,50,5

[2017-10-12 01:55] peterlau0010 opened #120 "Facebook Cannot Callback"
Hi,
I am using the "Facebook Receiver" node, however it doesn't work.
I have input all the information correctly, also subscript the page into app.
In the Facebook Developed, the webhook token can also be verified.
But when i start chat, there was nothing shown in the "Debug" node.
Is the Facebook Receiver node not work? or some step i have missed?
![node_red_setting](https://user-images.githubuse

[2017-10-12 03:24] peterlau0010 commented on #120
Missed body-parser.

[2017-10-12 03:24] #120 closed

[2017-10-31 15:35] GermaN-st opened #121 "Сontext storage node"
Hello, @guidone

Is it possible to make a separate node to store the context?
When using a messenger for which there is no node, we can not use context store system. For example, I use api Viber. But now it is very inconvenient, since there are no nodes to work with it (Send and Receive). But the context is very necessary in the development of flows.
As I see it. A separate node is a context. Whic

[2017-11-02 05:46] metabaron opened #122 "Unhandled rejection TypeError"
Unhandled rejection TypeError: Cannot read property 'set' of undefined
    at messageOk (/Users/mathieufeulvarch/.node-red/node_modules/node-red-contrib-chatbot/nodes/chatbot-telegram-receive.js:420:20)
    at tryCatcher (/Users/mathieufeulvarch/.node-red/node_modules/bluebird/js/release/util.js:16:23)
    at Promise._settlePromiseFromHandler (/Users/mathieufeulvarch/.node-red/node_modules/bluebir

[2017-11-09 07:55] GermaN-st opened #123 "Calendar node for Telegram"
Hello @guidone
Is it possible to make a node with a calendar to select a date (inline-buttons)?
A similar keyboard already exists, but on the [python](https://github.com/unmonoqueteclea/calendar-telegram).
It would be very useful. Now it is very lacking(
Thank you.

[2017-11-19 16:25] mshaz opened #124 "Camera"
How do i snap photo using camerapi node and send to telegram

Tq

[2017-11-20 16:58] Rotzbua opened #125 ""Authorized users" not working"
Package | Version
----- |  ----
node-red | 0.17.5
node-red-contrib-chatbot | 0.8.6

### Description
Hi,

I tried to use the node `authorized?`, but it do not work as expected. I added a user id to the node `Telegram Receiver`, so my message should be processed as `non authorized` but it is still `authorized`.

I used this example:
https://github.com/guidone/node-red-contrib-chatbot/wiki/Authorized

[2017-11-20 20:22] guidone commented on #124
As long as the camera api node outputs a Buffer with the image, something like

[code]

just connect to a `Image node` (do not specify any image url or file here) and then to a `Telegram Sender`

[2017-11-20 20:28] guidone commented on #115
@MatzeJoerling I guess hipchat is dead in favour of Stride.

I'm working on the support for Slack and to do this I'm developing a kind of framework in order to make the support for chat platform easier.
I've requested an early access to Stride, meanwhile I'll add to the roadmap.

https://github.com/guidone/node-red-contrib-chatbot/wiki/Roadmap

[2017-11-20 20:28] #115 closed

[2017-11-20 20:36] guidone commented on #125
Hi @Rotzbua , the `authorized` attribute is stored in the chat context and not in the message payload, what happens if you connect to the Telegram receiver a RedBot `Debug node`?

It should dump also all the context variables, you should see the value of the authorized key.

[2017-11-21 08:37] guidone commented on #121
Hi, I've a beta with the Slack support and option to use a persistent storage

`npm install node-red-contrib-chatbot@0.9.0-0`

[2017-11-21 11:22] GermaN-st commented on #121
Hello, @guidone
Tried to check. I hope correctly understood how it works)
My example:
![image](https://user-images.githubusercontent.com/30233260/33069946-48212c22-cec7-11e7-926e-7414a60108e5.png)

In the first case, I set variable after the block conversion in function (1 number in screenshot):
`var chat= msg.chat();
chat.set('test',msg.test1);
return msg;`

In the lower chain, I again add the bl

[2017-11-21 14:22] guidone commented on #121
Yes this how it works.

The new context storage system works only for Slack, for Telegram, Facebook and Smooch nothing is changed.
So just to recap:

- Memory Context: works like Telegram, Facebook and Smooch (volatile memory)
- Plain file: the context is stored in a plain json file. The `params` field is a json obkect used to configure the context provider, in the case of the Plain file connector

[2017-11-23 09:11] #124 closed

[2017-11-23 09:37] guidone commented on #122
@metabaron Sorry for the late answer. Fixed in `0.8.7`, it appears the chatContext is not present when the error is raised, this is strange, let me know if there are other errors

[2017-11-23 09:37] #122 closed

[2017-11-23 13:24] GermaN-st commented on #121
Hello, @guidone
FYI

I noticed that after installation `npm install node-red-contrib-chatbot@0.9.0-0,` there was an error when trying to write a bot. Error in the connector Telegram Receiver. Error on the screenshot. When a message arrives in a bot, it occurs.

![image](https://user-images.githubusercontent.com/30233260/33174850-afcaf890-d06a-11e7-87de-a92f0d43f87e.png)

Thanks

[2017-11-23 22:36] guidone commented on #121
Ok I've pushed out the 0.9.0-1, not sure if this is going to fix this bug, can you copy here the error you see in the console?

[2017-11-24 08:25] GermaN-st commented on #121
Hello, @guidone

Output from the console for the version `0.9.0-0`  shows the same error)
![image](https://user-images.githubusercontent.com/30233260/33201373-556d9fca-d109-11e7-9c5c-5b04c4e8c37f.png)

In the version `0.9.0-1` the error did not appear. Work correctly ;)

[2017-11-25 08:04] guidone commented on #119
Hi @JeffrySteegmans it works on my machine

<img width="630" alt="schermata 2017-11-25 alle 09 03 33" src="https://user-images.githubusercontent.com/502519/33228605-988ea75c-d1bf-11e7-9513-08852168be72.png">

[2017-11-27 07:07] JeffrySteegmans commented on #119
Zeer vreemd. Ik heb de bot veranderd en nu werkt het wel.
Bedankt om dit te testen.

[2017-11-27 16:03] guidone commented on #119
Good! 🖖

[2017-11-27 16:03] #119 closed

[2017-11-28 08:25] guidone commented on #121
Merged `0.9.0`

[2017-11-28 08:25] #121 closed

[2017-11-28 08:25] guidone commented on #27
The Slack support now works again (I know I am late...)

[2017-11-28 08:25] #27 closed

[2017-11-28 08:26] #125 closed

[2017-11-28 11:50] krystof-k opened #129 "Listen for bot messages too"
In Slack receiver, messages sent by other bots are not recognized. It should be able to listen for `bot_message` [event](https://api.slack.com/events/message/bot_message).

It'd be great if anyone could add it.

[2017-11-28 20:48] guidone commented on #129
@krystof-k it's fixed in `0.9.1`, I initially used this to detect messages coming from the bot itself (preventing a endless circular effect), now I'm using the bot name.

Thanks for the feedback

[2017-11-28 21:08] krystof-k commented on #129
Cool. Thanks!

[2017-11-29 16:11] krystof-k commented on #129
That's a pity :( Thanks for info!

[2017-11-30 11:50] pla10 opened #131 "Is possible to use getChatMembers"
Is it possible in some way to get information about chat members knowing their ID? (Telegram)

[2017-12-04 22:26] guidone commented on #131
@pla10 It will be, I'm working on a refactoring of the Telegram connector, basically the will be exposed the connector (https://github.com/yagop/node-telegram-bot-api), then you will be able to call any method you like

[2017-12-06 21:23] jibdata opened #134 "Inline mode"
It seems that there is no support for Inline mode with the Telegram In node.
I would like to be able to respond on inline queries from the Telegram client side when the bot is in inline mode:
@[name of the bot] query
https://core.telegram.org/bots/inline
https://core.telegram.org/bots/api#inline-mode

Any plans for this?

[2017-12-07 15:25] guidone commented on #134
@jibdata I'll put in the roadmap, thanks for the feedback

[2017-12-09 08:30] DimiDr0l opened #135 "no send message"
Hi, no messages are sent via the function:
msg.payload = {
transport : 'telegram',
chatId : 'my chatID',
type : 'message',
content : 'test message'
};
return msg;

no error messages, no send messages

[2017-12-14 15:22] JeffrySteegmans opened #136 ""Error: ETELEGRAM: 400 Bad Request: message text is empty""
I get the following error when I try to send a message to telegram:
"Error: ETELEGRAM: 400 Bad Request: message text is empty"

I use the following flow:

`[{"id":"1d33f3a2.e8595c","type":"inject","z":"c442013d.554a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":100,"y":560,"wires":[["a38b0818.654cc8"]]},{"id":"f25479cb.a769d8","type":"chatbot-con

[2017-12-14 15:23] ncklrs opened #137 "Bluemix Import: "Installation of module node-red-contrib-chatbot failed:""
I attempted to install node-red-contrib-chatbot via Manage Palette and received this error

Error: Command failed: npm install --save --save-prefix="~" --production node-red-contrib-chatbot@0.9.3
npm WARN deprecated nlp_compromise@6.5.5: nlp_compromise has been renamed to 'compromise', please update
npm WARN deprecated node-uuid@1.4.8: Use uuid module instead

[2017-12-14 15:47] JeffrySteegmans commented on #136
A quickfix for this problem is putting the following function node between "text" node and "telegram sender" node:

`[{"id":"2e710b94.698564","type":"function","z":"223d3f3e.65753","name":"modify_message_id verplaatsen naar content en leeg maken","func":"if (msg.originalMessage.modify_message_id != null){\n    msg.payload.content = msg.originalMessage.modify_message_id;\n    msg.originalMessage.mo

[2017-12-14 17:01] guidone commented on #137
These are just warnings, these are two libraries that are no longer updated, somehow node-red see this as an error, can you install manually?

[2017-12-14 18:23] guidone commented on #136
@JeffrySteegmans I see, it's how the node gets default values from the payload, I'm fixing it, thanks for the feedback.

[2017-12-14 18:27] ncklrs commented on #137
I am very new to both node-red and Bluemix and still trying to understand the platform.  So I am not certain how to install manually.

[2017-12-14 18:46] guidone commented on #137
Do you see the RedBot nodes in the palette?

[2017-12-14 19:00] guidone commented on #137
Ok, I've prepared a branch with updated libraries, unfortunately the Slack library still uses a deprecated library (throws a warning) and there's nothing I can do.
I'll publish later today

[2017-12-14 20:44] ncklrs commented on #137
Ok great. I am really wanting to use the Smooch integration and really like all the conversational pieces with this package.

[2017-12-14 21:04] guidone commented on #136
@JeffrySteegmans fixed in `0.9.4`

[2017-12-14 21:05] guidone commented on #137
@ncklrs ok, try with the `0.9.4`, I've updated some libraries

[2017-12-14 21:06] guidone commented on #135
You should use a `Message node` to send a message, are you following this example?

https://github.com/guidone/node-red-contrib-chatbot/wiki/Basic-send-message

[2017-12-14 21:46] ncklrs commented on #137
Ok. Via the palette install here was the response:

"Installation of module node-red-contrib-chatbot failed:"
12/14/2017, 4:45:21 PM
msg : string[42]
"------------------------------------------"
12/14/2017, 4:45:22 PM
msg : string[165]
"Error: Command failed: npm install --save --save-prefix="~" --production node-red-contrib-chatbot@0.9.4↵npm WARN deprecated node-uuid@1.4.8: Use uuid module instea

[2017-12-14 21:53] guidone commented on #137
What happens with a different package (just to understand if the problem is with this specific package or with the installation)

[2017-12-14 21:57] ncklrs commented on #137
I had issues with many packages as I was looking to see if it was across the platform or just the package. I was able to successfully install node-red-node-openweathermap

[2017-12-15 10:40] JeffrySteegmans commented on #136
@guidone confirmed fixed, tx!

[2017-12-15 10:40] #136 closed

[2017-12-17 22:19] vojtek opened #140 ""Error: EFATAL: Unsupported Buffer file type""
Telegram receiver -> Voice {Hi} -> Telegram sender
Telegram sender - "Error: EFATAL: Unsupported Buffer file type"

[2017-12-18 11:06] guidone commented on #140
@vojtek this in fixed in this pull request

[2017-12-18 11:07] guidone commented on #140
@vojtek this is fixed in this pull request

https://github.com/guidone/node-red-contrib-chatbot/pull/133/files

it will be merged in few days

Thanks for the feedback

[2017-12-18 19:27] vojtek commented on #140
Thanks for quick answer and fix

[2017-12-18 19:27] #140 closed

[2017-12-19 13:46] #135 closed

[2017-12-19 13:50] guidone commented on #131
Install the new version
[code]
In the message you now have the method to get the Telegram client
[code]
which is an instance of https://github.com/yagop/node-telegram-bot-api

[2017-12-19 13:51] guidone commented on #140
Merged `node-red-contrib-chatbot@0.9.5`

[2017-12-19 13:52] guidone commented on #123
Added to the roadmap

[2017-12-19 13:52] #123 closed

[2017-12-19 13:55] guidone commented on #134
The inline mode is ready

`node-red-contrib-chatbot@0.9.5`

[2017-12-19 13:55] #134 closed

[2017-12-21 22:13] pascalmattes opened #141 "Is Authorized is not working (Telegram)"
Checking for authorized users is not working. If userId or Username is specified and correct, the not authorized output is always triggered.

[2017-12-21 22:15] pascalmattes opened #142 "firstName and lastName not available"
firstName and lastName are not available in Telegram. Both are correctly set in the Telegram App and node red is receiving the values in the log.

[2017-12-21 22:23] guidone commented on #142
Ok I’ll check, I’v just updated Telegram lib, perhaps there’s a glitch
Thanks for the feedback

[2017-12-21 23:32] guidone commented on #142
Ok, it's fixed in `0.9.6`

Thanks for the feedback

[2017-12-21 23:32] guidone commented on #141
Ok, it's fixed in `0.9.6`

Thanks for the feedback

[2017-12-22 06:07] DimiDr0l commented on #135
no, i wanna send messege of sensor

[2017-12-22 10:24] mapero opened #145 "Conversation node "null"s the payload"
Hi,

I used chatbot for a while now. After the recent update my flows stopped working. Even a simple "hello world" does not work anymore.

I noticed that the conversation node is nulling the payload send by the inject and the Telegram sender will send the value as "null".

See example attached:

![screenshot from 2017-12-22 11-21-51](https://user-images.githubusercontent.com/1754967/34294818-9237a

[2017-12-22 12:03] guidone commented on #145
Ok, I'll check, what's the configuration of the conversation node?

[2017-12-22 12:43] guidone commented on #145
@mapero check `0.9.7` now it doesn't null the payload, I'm not sure this was the cause why nothing was sent out.
Let me know.

Thanks for the feedback

[2017-12-22 14:36] mapero commented on #145
Working now. Thanks for the fast fix.

[2017-12-22 14:36] #145 closed

[2017-12-22 14:36] guidone commented on #145
Good!

[2017-12-24 13:52] pascalmattes opened #147 "Version doesn‘t update on flows.nodered.org"
The Version on flows.nodered.org is still 0.9.5 for a few days now. This prevents updating through web panel.

[2017-12-24 16:11] guidone commented on #147
I don’t control how the update the index on flows.nodered.org, I’ll try to find out if there’s a way to trigger the update of the index after a release. Meanwhile if you really need the update you can do it manually with npm

[2017-12-26 08:01] athphane opened #148 "Telegram nodes doesn't work at all"
Basic setup of [In --> Message --> Out] doesn't work.
Is my bot config wrong?
When I deploy the flow the nodes say that it's connected. But sending a message to the bot doesn't seem to show any results. None of the debug nodes showed any results either.

![1](https://user-images.githubusercontent.com/13810742/34351046-1a7d1f70-ea3c-11e7-87c2-1cf166701113.PNG)
![2](https://user-images.githubusercon

[2017-12-26 08:07] guidone commented on #148
Do you get any error in console? What’ the configuration of the first screen of Telegrambot? Just the token in mandatory, you can leave all other fielda blank

[2017-12-26 08:42] guidone commented on #148
It that bot-token just a placeholder you used for the screenshot? It doesn’t seem a valid telegram token

[2017-12-26 09:26] athphane commented on #148
No errors in the console. Just a bunch of json like code that has to do something with webhooks I assume. And yes those were placeholder token and user ID.

[2017-12-26 09:53] guidone commented on #148
I think I've found it, remove that **user1**

![34351046-1a7d1f70-ea3c-11e7-87c2-1cf166701113](https://user-images.githubusercontent.com/502519/34353841-d4f640e6-ea2a-11e7-8e3b-29d0efffc5d8.png)

it's breaking the telegram bot, I'll fix in the next few hours, but for the moment should work.

Thanks for the feedback!

[2017-12-26 10:04] athphane commented on #148
Not working either man. Sure it now says connected. But it's not working as it should. The flow should reply, in theory, "Hello" to any message I send. But no result.

![1](https://user-images.githubusercontent.com/13810742/34354132-0b40b848-ea4e-11e7-9992-5cb6ce41b49e.PNG)
![2](https://user-images.githubusercontent.com/13810742/34354133-0b8b3800-ea4e-11e7-9031-1de05b55d6f4.PNG)

[2017-12-26 10:05] guidone commented on #148
I've tried creating a telegram bot from scratch but it worked on my box.

Can you send over the flow with the export function of NodeRed (the credentials will not be exported).

PS I thought it was the "users" field but I was wrong so I deleted the comment

[2017-12-26 10:11] athphane commented on #148
[{"id":"c2e6521e.d7d33","type":"chatbot-telegram-receive","z":"73696e1c.a30ea","bot":"e6da12be.7d5f8","x":150,"y":140,"wires":[["196f4132.f307ef"]]},{"id":"f8af420b.33184","type":"chatbot-telegram-send","z":"73696e1c.a30ea","bot":"e6da12be.7d5f8","track":false,"outputs":0,"x":510,"y":140,"wires":[]},{"id":"196f4132.f307ef","type":"chatbot-message","z":"73696e1c.a30ea","name":"hello","message":[{"m

[2017-12-26 10:37] guidone commented on #148
Ok it's not working on my box too.

It's the "memory" context store, switch to "plain file" and it should work.

This is a serious bug, thanks for spotting it, I'll fix as soon as possible.

[2017-12-26 17:13] athphane commented on #148
Aight man thanks for the help. The plain file method worked perfectly.

[2017-12-27 20:08] #148 closed

[2017-12-27 20:49] pascalmattes commented on #142
Thanks, it is working now.

[2017-12-27 20:49] #142 closed

[2017-12-27 20:56] pascalmattes commented on #141
Thanks, working as expected.

[2017-12-27 20:56] #141 closed

[2017-12-27 21:04] guidone commented on #148
The bug it's fixed in `0.9.9`

[2017-12-29 17:34] pascalmattes commented on #147
Still no new Version, any Updates on this? I can‘t install manually in my productive environment.

[2017-12-29 18:31] guidone commented on #147
I requested a refresh

http://d.pr/i/KFBIN7

I don't know what's behind that, I hope it's a kind of an automatic task.
Sorry for the inconvenience.

[2017-12-29 19:15] guidone commented on #147
Ok I see `0.9.9` now.

👍

[2017-12-29 19:15] #147 closed

[2018-01-01 20:05] #131 closed

[2018-01-02 02:56] grantwparks commented on #137
This has been a problem for me since I first started using Watson/Node Red.  Haven't been able to install a single node into my palette.  it's about to become a deal breaker.

[2018-01-02 08:37] guidone commented on #137
Perhaps it's a matter of permission, did you start from here?

https://nodered.org/docs/platforms/bluemix

I'll try myself in the next few days and try to understand why

[2018-01-02 13:08] juhuu32 opened #150 "No connection possible"
2 Jan 11:15:11 - [error] [chatbot-telegram-node:80faf04e.df7ef] Error creating chatbot openhab2: no context provider specified.
2 Jan 11:15:14 - [warn] [chatbot-telegram-receive:24fdefad.51aa] no bot in config.

![2018-01-02 14_02_06-node-red _ openhab2](https://user-images.githubusercontent.com/28487649/34484543-97402e6a-efc5-11e7-93e8-98b90c5d7c04.png)
![2018-01-02 14_00_59-node-red _ openhab2](

[2018-01-02 17:11] guidone commented on #150
Yes, select a context store, the "memory" should be fine for testing

[2018-01-03 01:36] happy-machine opened #151 "telegram - save 'photo'"
Hey

How do i recieve and save a jpg? ive got outbound working on telegram and twitter

Thanks

[2018-01-03 07:56] guidone commented on #151
You need a `Parse node` with _type = Photo_

<img width="716" alt="schermata 2018-01-03 alle 08 54 04" src="https://user-images.githubusercontent.com/502519/34512595-cca5c7ba-f063-11e7-8315-28acd5d4d44f.png">

The `Parse node` extracts the content of the message from the chatbot envelope (that contains more information like the chatId, etc) and returns at the first pin the message in the format su

[2018-01-03 13:28] happy-machine commented on #151
Hey

Thanks

Ive been using the telegram reciever node which doesnt seem to work with this node. And i cant get the chatbot reciever node to connect?

Do you know if theres a way of using it with the telegram bot plus reciever? or if not how to configure the chatbot reciever? i have given it my token and bot name but it just gives 'Disconnected'

[2018-01-03 14:14] guidone commented on #151
Have you selected a chat context provider in the configuration panel?
It’s a breaking change since 0.9.7

Il 3 gen 2018, 14:28 +0100, Happy Machine <notifications@github.com>, ha scritto:

[2018-01-03 16:58] happy-machine commented on #151
Hey

Tried to .. selected type memory with no parameters .. is that correct?
anything else needs to be filled in apart from the token and bot name?

Thanks

[2018-01-04 11:52] stefanoco opened #153 "Telegram: Conversation node seems to add wrong "modify_message_id""
This used to work until days ago, started behaving like this after (apparently unrelated) flow moditications.

I have a rather complex flow, where NodeRED events should result in messages sent to a specific chatId. So I'm chaining:
- a message with payload="message to be sent";
- a "Conversation" node configured with chatId only;
- a "Text" node with nothing configured.

The result: an error in th

[2018-01-04 12:01] guidone commented on #153
Which version of redbot are you using? Seems like a bug I've fixed a while ago

[2018-01-04 12:06] stefanoco commented on #153
...yes discovered now reading #136 indeed. I upgaded to 0.9.9 right now and can't connect to my bot anymore unfortunately! Now when deploying a flow I get: "Error creating chatbot <bot name>: no context provider specified." but I don't want to specify a context provider...

[2018-01-04 12:10] guidone commented on #153
Ok, you have to specify a context provider in the bot config, the "memory" one is ok for testing.
In few minutes I'll push a fix for this (if no context provider is specified it uses the default "memory")

[2018-01-04 12:14] stefanoco commented on #153
Thanks waiting for the fix

--
Stefano Costa
R&D, Managing Director
Bluewind Embedded Systems
M. +39 335 6565749
https://t.me/stefanoco
http://www.bluewind.it
so long, and thanks for all the fish

Il 4 gen 2018, 13:11 +0100, Guidone <notifications@github.com>, ha scritto:

[2018-01-04 12:24] guidone commented on #153
Ok, pushed `0.9.10`

[2018-01-04 13:12] stefanoco commented on #153
Yes works now! Before I close the issue: can't specify any context provider type in the dialog (defaulting to memory now) is this normal?

[2018-01-04 13:37] guidone commented on #153
It should work

https://d.pr/v/p1EJuv

what happens exactly?

[2018-01-04 13:37] guidone commented on #150
This issue should be fixed in `0.9.10`

[2018-01-04 13:38] guidone commented on #151
Yes correct, I've pushed `0.9.10` which solves the problem of the default chat context

[2018-01-04 13:43] stefanoco commented on #153
Nothing actually: same as your workflow, the drop down menu is empty...

![screenshot at 2018-01-04 14 40 26](https://user-images.githubusercontent.com/959880/34566050-7c84a102-f15d-11e7-9223-678cc30c378e.png)

maybe due to NodeRED version? 0.17.5 here and can't upgrade for a few days

[2018-01-04 13:46] guidone commented on #153
Even if you open the drop down, you see nothing? 0.17.5 is fine, I'm using it too

[2018-01-04 13:52] guidone commented on #153
Sorry documentation is not updated yet, the new chat context system is available for slack and telegram (and facebook soon)

Do you see this call in the the JS console of the borwser

https://d.pr/i/GzlUB3

or any particular error?
Which version of node?

[2018-01-04 13:58] stefanoco commented on #153
If I'm looking the correct tab the answer to the call is:

[code]

[2018-01-04 13:59] stefanoco commented on #153
...and node 4.5.0

[2018-01-04 14:07] guidone commented on #153
Ok, perhaps it's due to the host name (I'm testing locally), let me check

[2018-01-04 14:36] guidone commented on #153
I guess it's because you have mounted node-red control panel in /admin and not the root, the correct link with your config should be https://myhome.bluewind.it/admin/redbot/context-providers

I'll fix it

[2018-01-04 14:37] stefanoco commented on #153
yes this is my setup (seen also on some Raspberry SD images)

[2018-01-04 22:59] #151 closed

[2018-01-04 23:01] happy-machine opened #154 "JSON stream and hanging GUI"
Sorry about the long JSON

the update is connecting but hanging my gui and this is the log im getting..
Its a constant stream of logging JSON like this below

also getting this in debug

"Error creating chatbot filestobot. The context provider undefined doesn't exist."

This is from memory but have also tried using file in context

{ Error: ETELEGRAM: 409 Conflict: terminated by other long poll or

[2018-01-05 00:43] happy-machine commented on #154
Is there anywhere to get a list of the msg.chat parameters? cant find it in your docs

thanks

[2018-01-05 08:10] guidone commented on #153
Ok, found it, I'll push the fix later today

[2018-01-05 08:13] guidone commented on #154
Can you update to 0.9.10, it should solve the context provider problem (if not specified uses a default one).
It also fixes the Telegram 409 error.

And yes the message/chat parameters need some documentation, I'm writing it.

[2018-01-05 08:44] #150 closed

[2018-01-05 08:44] #118 closed

[2018-01-05 08:45] #7 closed

[2018-01-05 08:45] #9 closed

[2018-01-05 08:45] #17 closed

[2018-01-05 08:45] #21 closed

[2018-01-05 08:45] #30 closed

[2018-01-05 08:45] #50 closed

[2018-01-06 01:04] happy-machine commented on #154
very helpful set of nodes.. thankyou

[2018-01-06 10:10] guidone commented on #154
Thanks!

[2018-01-06 10:10] #154 closed

[2018-01-06 11:10] stefanoco commented on #153
Works perfectly now, thanks for your effort!

[2018-01-06 11:10] #153 closed

[2018-01-10 22:18] jibdata opened #158 "Telegram configuration node not saving correctly"
I'm running Node-RED in Docker container (version 0.17.5), node-red-contrib-chatbot version 0.9.12.
After one of the last updates of chatbot, I am not able to save/set the "Parse" setting in the Telegram configuration node. It just go back to None after config update.
Also when I try to create a Context, I am not able to select anything from the Type dropdown field. It is not dropping down correct

[2018-01-10 22:20] guidone commented on #158
I am already working on it, by tomorrow it will be fixed.

Thanks for the feedback

[2018-01-10 23:01] jibdata commented on #158
Cool, thanks a lot for your quick response.

[2018-01-10 23:01] MarkusDoof opened #159 "Multiple bot answers in Slack"
Sometimes there are 2 to 8 copies of bot answer, I did not found the reason.

[2018-01-10 23:04] guidone commented on #159
How the flow does look like?

[2018-01-10 23:05] MarkusDoof commented on #159
<img width="1133" alt="snimek obrazovky 2018-01-11 v 0 04 38" src="https://user-images.githubusercontent.com/11775863/34800204-1ab0b280-f663-11e7-8ec5-2b3fc4c39157.png">

[2018-01-10 23:15] guidone commented on #159
If you restart node-red does this replication happens as well or disappear?

Can you export the flow here (I'll check tomorrow in my dev box)

Thanks for the feedback

[2018-01-10 23:23] MarkusDoof commented on #159
After restart it is ok. but it occurs ofter some time of using it.
I tried to export but export is disabled :(

[2018-01-11 08:23] guidone commented on #159
Is it possible that this happens after multiple deploys?
Like you edit the flow + deploy several time and then it happens?

I'll look into it

[2018-01-11 08:27] guidone commented on #158
Fixed in `0.9.13`

[2018-01-11 10:52] MarkusDoof commented on #159
Yes, and if I do server restart, it is ok.

[2018-01-11 12:11] r-koba commented on #137
I successfully installed node-red-contrib-telegrambot.
However I'm facing the same problem to node-red-contrib-chatbot as @ncklrs described.

I updated everything but the issue persists

1/11/2018, 10:01:58 AM
msg : string[166]
"Error: Command failed: npm install --save --save-prefix="~" --production node-red-contrib-chatbot@0.9.13↵npm WARN deprecated node-uuid@1.4.8: Use uuid module instead↵"

[2018-01-11 13:03] grantwparks commented on #137
If you enable continuous delivery with defaults, a git repo will be created. In that repo's package.json, these nodes can be added to dependencies.  After restarting the app, the new nodes will appear in the palette.

[2018-01-11 16:30] xyleth commented on #159
Hello,

I'm getting the same symptom with a Telegraph setup.  A single message elicits an ever increasing number of responses from the bot.  As a temporary workaround I've built a little dedupe function node that seems to work:

`var messageHash = msg.payload.chatId + ":" + msg.payload.messageId;
var messageLookUp = flow.get('messageLookUp');
if (typeof messageLookUp === "undefined") {
    message

[2018-01-11 16:35] guidone commented on #159
Ok, this is a good hint since the telegram/slack/facebook nodes are basically the same, what differs is the chat platform class that is invoked at some point

Working on it

[2018-01-11 19:56] guidone commented on #159
I may have found the problem, would you like to try this beta?

[code]

[2018-01-11 22:54] jibdata commented on #158
Tested 0.9.13 and all OK

[2018-01-12 08:18] #158 closed

[2018-01-12 09:55] xyleth commented on #159
I have installed that beta and I am still getting the duplicate messages.  It seems to be fine after a restart until I deploy some changes to a flow, that's when the repeats seem to start.

[2018-01-12 10:02] guidone commented on #159
Can you tell me which version of node/node-red are you using?

[2018-01-12 10:05] xyleth commented on #159
node v6.12.3
node-red v0.17.5

Running on a RaspberryPi 3 running Raspian Jessie

[2018-01-12 15:46] guidone commented on #159
If you open configuration node

<img width="1176" alt="schermata 2018-01-12 alle 16 44 25" src="https://user-images.githubusercontent.com/502519/34882810-009c2478-f7b8-11e7-95a0-2b7804046d6a.png">

How many `chatbot-slack-node` do you see?

[2018-01-12 16:24] xyleth commented on #159
For me?  Only one, but it's a chatbot-telegram-node because I'm using Telegram not Slack.

[2018-01-14 22:53] guidone commented on #159
@xyleth can you try this version?

[code]

I've cleaned up some parts, sorry for these blind trials but I cannot replicate the error on my box,I suspect there's some race conditions when nodes are disposed in slower devices like the Raspberry

[2018-01-14 23:06] guidone commented on #137
@r-koba did you try with @grantwparks suggestions?

[2018-01-15 10:02] german-st opened #161 "New node (http request) with a possibility to receive webhook. Is it possible to?"
Hello.

We often use third-party api to create chat-bots using Node-RED.
We encounter the situation when, after sending a request, we need to receive not only the response of the service, but also that it will send the service to the webhook specified by us.
For example. We send a message to the user using the http request node. After that, the user can respond to the bot and in this case a messag

[2018-01-15 16:04] guidone commented on #161
I'm not sure I've understood perfectly, the problem is that at the end of the second http node (where is the red arrow) you need some information that are available at the end of the first output node, right?
And you need a way to carry on this value to the second http node?

If this is the case you don't need an extra node, each node takes the message from the input and stores the result in `mess

[2018-01-15 19:11] r-koba commented on #137
@guidone and @grantwparks, first of all, tks for replying!
I'm new in IBM cloud and node-red too... so I'm a little slow
I checked if the continuous delivery was enabled, I was analyzing the packages (both package.json and package-lock.json) and confirmed reference of node-red-contrib-chatbot@0.9.13.
(Should I have to edit anything in package.json?)
I restarted the npm and node-red but still not a

[2018-01-15 19:23] grantwparks commented on #137
There may be a particular problem with that node.  I was trying to add a slack chat node to node red on the FRED web site and found that the node had an incompatible dependency in it.  In other words, the node needed to be updated by its maintainer.  It seems like there's multiple chat nodes to look at and maybe there's a different one that would work.  Pay close attention to the versions.

[2018-01-16 16:22] GermaN-st commented on #161
@guidone Hello
Unfortunately no. About this I know and actively use. I need the second node after the call of the web service, I was waiting there for receiving the message on the webhook specified by us and gave it also.
In general, for nodes to work in the same way that nodes http in and http request worked as telegram receiver and telegram sender. In effect, make the track flag in the http requ

[2018-01-18 11:46] GermaN-st commented on #161
@guidone
Any ideas? Or I have not explained it clearly)

[2018-01-22 18:44] DimiDr0l opened #162 "Not sent messages!"
I can not send an event message
no errors
example I enclose
`[
    {
        "id": "d1d8ba56.991b88",
        "type": "chatbot-telegram-send",
        "z": "df90cdc2.4c2fa",
        "bot": "a9eb3f2b.e00f4",
        "track": false,
        "outputs": 0,
        "x": 890,
        "y": 140,
        "wires": []
    },
    {
        "id": "21da9985.799b86",
        "type": "inject",
        "z": "df90c

[2018-01-22 22:13] guidone commented on #162
In your flow a `Message node` is missing, look this example

https://github.com/guidone/node-red-contrib-chatbot/wiki/Start-conversation

[2018-01-23 12:04] DimiDr0l commented on #162
It turned out to be sent, but it was not convenient
`[
    {
        "id": "d1d8ba56.991b88",
        "type": "chatbot-telegram-send",
        "z": "df90cdc2.4c2fa",
        "bot": "a9eb3f2b.e00f4",
        "track": false,
        "outputs": 0,
        "x": 890,
        "y": 140,
        "wires": []
    },
    {
        "id": "82ef63c4.3b63d",
        "type": "chatbot-debug",
        "z": "df90cdc

[2018-01-23 12:10] DimiDr0l opened #163 "No authorized a few users"
if multiple usersID are not authorized, users are specified via ";" there was such a glitch in the old version

[2018-01-23 13:11] guidone commented on #161
Hi @GermaN-st now I understand, I think that this node would be out of the scope of RedBot, have you tried the Node-Red group on Slack (node-red.slack.com)? Perhaps someone has the same problem

[2018-01-23 13:19] guidone commented on #163
Multiple users id are specified with a comma `,` as divider like `123456,7890123` (and not the `;`)

[2018-01-23 13:26] GermaN-st commented on #161
Hello, @guidone
Yes, I created an [issue](https://github.com/node-red/node-red/issues/1556). Also advised to contact Slask group.
I just thought that for the functionality of the RedBot it would be very useful that. Since in fact we will be able to use any messenger via the API.
Of course, the scripts would become larger and more functions with the code, but it would be possible to use any messeng

[2018-01-23 13:58] #162 closed

[2018-01-24 09:19] jibdata opened #164 "Zulip support"
Have you considered support for Zulip?
https://github.com/zulip/zulip

[2018-01-24 11:01] xeor commented on #164
Would love zulip support! Many orgs use it as an alternative to slack, so maybe it can help nodered to be more interesting for those

[2018-01-24 11:12] jibdata commented on #164
Yea, and there is orgs that do not allow usage of external messengers, so this could be a very good alternative in these use cases where orgs have internal ones like Zulip

[2018-01-24 17:13] guidone commented on #164
Didn't not Zulip, it's possible.

Beside in RedBot there's some infrastructure to add platforms without reinventing the wheel (Telegram, Slack and Facebook Messenger nodes are coded this way).

I'll give a look

[2018-01-24 18:06] jibdata commented on #164
Cool.
Give us a hint if you are going to follow that path or not.

[2018-01-25 09:10] guidone commented on #159
@xyleth @MarkusDoof I might have found the problem, just to validate it, can you confirm that in your flow there are more that one Telegram/Slack receiver and at least one Telegram/Slack sender with the "track" option enabled?

[2018-01-25 15:56] #163 closed

[2018-01-26 10:40] GermaN-st commented on #164
I will join. I'm really looking forward to and hope for a mechanism for using any platform. it will help us a lot. Since the redbot itself is very convenient.

[2018-01-26 13:51] ArfyFR opened #165 "Facebook node and connector 'null'"
Hi,

I wanted to get the chatId and created a FB Node (connected/green, ngrok process OK).

But I faced:
[code]

Node version: v6.9.1
node-red-contrib-chatbot : 0.9.13

And I don't get anything from FB/the FB page I linked in the config

Did I forget something ?

[2018-01-26 13:55] guidone commented on #165
Checking...

[2018-01-26 14:12] guidone commented on #165
Yes, the error was there. I've fixed it `0.9.14`, pushed out right now.

My facebook bot worked despite this bug, I'm not sure this will solve your problem, if not let me know.

Thanks for the feedback

[2018-01-26 16:10] ArfyFR commented on #165
Hi,

No more the error thanks.

But nothing from FB in the node as if it is shown "connected".
Perhaps because my dev account in FB is too young ?

[2018-01-26 16:15] guidone commented on #165
Sometimes FB takes some minutes to start sending messages to the new web hook, when this happens I look at ngrok console, you should see a POST call when ever you write a message in the chat.
If this doesn't happen it could be:

- wrong address in the webhook (must be https://...)
- the app is connected to a wrong facebook page

where you able to validate the webhook with the verify token? In that

[2018-01-26 16:21] guidone commented on #165
Just in case you didn't see it, here's the tutorial

https://github.com/guidone/node-red-contrib-chatbot/wiki/Facebook-Receiver-node

[2018-01-26 18:09] ArfyFR commented on #165
Yes I followed it =)

Little remark, it's a typo the port 1088 in the doc ?
`ngrok http 127.0.0.1:1088`
I mean, on my PC, the default port is 1880 ;)

I launched another test and I am waiting for the POST at the moment.

Last remark: since I added node-red-contrib-chatbot, I lost some nodes config several times without relevent logs.  I noticed after `node-red` launch saying in logs "auth/api key

[2018-01-26 19:26] ArfyFR commented on #165
There is still an error.

The POST occurred and it crashed in your code:
![image](https://user-images.githubusercontent.com/3436322/35456830-1b67e34e-02d7-11e8-913c-cb1b4367df1c.png)

[code]

[2018-01-26 19:29] ArfyFR commented on #165
I just uncommented your log code:
[code]

[2018-01-26 22:30] guidone commented on #165
Question: are you running your node-red instance with the command `node-red` or with some kind of wrapper?

Some of these wrapper don't add the bodyParser middleware and for this reason the POST payload is not parsed (`json = null`)

[2018-01-26 22:41] ArfyFR commented on #165
Reply: node-red directly

About the error, I found how to send a test message 2 minutes ago =)
![image](https://user-images.githubusercontent.com/3436322/35463558-8133e1fe-02f1-11e8-9a21-8964111b88eb.png)

Here are the logs with the `JSON.stringify` of the req.body
[code]

In the test message from FB, there is no element 'messaging' in the entry

[2018-01-26 22:44] guidone commented on #165
Ok, let me check with this button, I've never tried that button, but at first sight the payload send by an actual chat message is different

[2018-01-26 22:48] ArfyFR commented on #165
Bad copy paste, sorry, was the message from Page webhook
Here is the message from User webhook
[code]

[2018-01-26 23:20] guidone commented on #165
Yes it's different, the payload from an actual message is something like that

[code]

The key `messaging` is missing and that is breaking the code. I can add a guard in the code preventing it to break in case someone uses a different test payload but this doesn't solve your problem.
You should try to connect a page to your facebook app and try to send a message from the page, that will produce pa

[2018-01-27 08:42] ArfyFR commented on #165
Hmm, this morning I **RTFM** from Facebook but I didn't find something (https://developers.facebook.com/docs/messenger-platform/getting-started and inside https://developers.facebook.com/docs/messenger-platform/webhook).
After that I went back to the app dev page, removed the one from yesterday and try a new one.

Still nothing from FB (_nothing sent if I msg my Page_) until I tried at the bottom

[2018-01-27 10:11] ArfyFR commented on #165
Little update also for future developpers.

After the process I described to validate the sub to message, if you want a FB account, BEFORE PROD, to be allowed to test to send a msg and replies to your page and be notified in the node-red-contrib-chatbot, you'll need to browse to your FB App Roles
`developers.facebook.com/apps/<appid>/roles/roles/
`
and add it in Testers:
![image](https://user-imag

[2018-01-29 12:10] MarkusDoof commented on #159
I have three senders and one receiver from which two have track option enabled.

[2018-01-29 14:45] xyleth commented on #159
Hello, sorry for the delay in getting back to you.

I have only one receiver and one sender in my flow.

0.9.14 seems to have fixed the problem however.

[2018-01-30 09:24] ArfyFR opened #166 "Facebook and nodes/chatbot-conversation.js -> sends to Telegram instead of FB"
Hi,
In my node_modules, I had to change line 39 in nodes/chatbot-conversation.js
`          platformNode = RED.nodes.getNode(botTelegram).chat;
`to
`          platformNode = RED.nodes.getNode(botFacebook).chat;
`in order to be able to create and send a message to FB
(auto reply FB in -> txt -> FB out worked)

If not I got the following error (and no message to FB)
TypeError: Cannot read property '

[2018-01-30 09:31] guidone commented on #166
Yes, copy and paste mistake, I'll fix soon.

Thanks for the feedback

[2018-01-31 08:34] guidone commented on #159
Pushed out `0.9.15` that fixes the multiple messages with the track option, @xyleth not sure if this is going to solve your problem, if persists let me know and I'll investigate a little further

[2018-01-31 08:34] #159 closed

[2018-01-31 08:34] guidone commented on #166
Fixed in `0.9.15`, thanks for the feedback

[2018-01-31 08:35] #165 closed

[2018-01-31 09:23] ArfyFR commented on #165
You noticed also for the doc, the nodes Flow I had to create for FB to
- get the chatId as written in docs => OK with Debug
- but also validate a process from FB to be able to use the nodes (sort of "autoreply")

In comment: https://github.com/guidone/node-red-contrib-chatbot/issues/165#issuecomment-360970300

[2018-02-01 21:02] lwhitworth opened #168 "Telegram receiver not working"
Not seeing any messages I send to the Bot (have it going to a debug node).  Looking in syslog on the system I see:

`Feb  1 20:56:49 pi Node-RED[21062]: { RequestError: Error: connect ENOENT /botxxxxxx:xxxxxxxxxxxxxx/getUpdates
Feb  1 20:56:49 pi Node-RED[21062]:     at new RequestError (/home/pi/.node-red/node_modules/request-promise-core/lib/errors.js:14:15)
Feb  1 20:56:49 pi Node-RED[21062]:

[2018-02-02 08:49] guidone commented on #168
I'm using an external library to connect to Telegram, this error comes straight from that library, seems like the connection is missing or the auth token is wrong.
Is there another Telegram chatbot using the same token?

[2018-02-02 12:05] lwhitworth commented on #168
I don't think so.  I've only just started with this so I might be missing something, but I tried it didn't work so I ask @BotFather to revoke the token and issue a new one, tried the new one and that didn't work either.

I'll start from the beginning again and see if I missed something.

[2018-02-02 12:17] #166 closed

[2018-02-02 12:18] guidone commented on #168
Can you share the flow (the credentials will be left out of the export by NodeRed)?

[2018-02-02 12:27] lwhitworth commented on #168
At the moment it's simply:

`[{"id":"13e997b1.4b2958","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"21fc3447.583e1c","type":"chatbot-telegram-receive","z":"13e997b1.4b2958","bot":"e07bb9bd.9938c8","x":396,"y":133,"wires":[["2dfe7c38.d98fe4"]]},{"id":"2dfe7c38.d98fe4","type":"debug","z":"13e997b1.4b2958","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"c

[2018-02-02 13:28] guidone commented on #168
Works for me, what version of node and redbot are you using?

[2018-02-02 13:59] lwhitworth commented on #168
Node: v8.9.3
Redbot: 0.9.15 (I installed it via palette within nodered)

Cheers

[2018-02-03 21:49] lwhitworth commented on #168
Okay, tried it on another pi and everything works fine with my telegram bot.....obviously something wrong with node-red or npm or cosmic rays on that other one.  Sorry for wasting your time!!

[2018-02-05 11:35] dezmob opened #169 "Messages lost"
Sometimes randomly message will be lost and not appear in the log.

<img width="636" alt="capture d ecran 2018-02-05 12 29 37" src="https://user-images.githubusercontent.com/36156886/35802520-b4859256-0a70-11e8-82b7-1662b8aa6fe3.png">

![image-1](https://user-images.githubusercontent.com/36156886/35802594-021306ac-0a71-11e8-9070-b252d0ae9196.jpg)

[2018-02-05 11:43] guidone commented on #169
Which version of redbot do you have? I’m thinking of adding a debug param to telegram receiver in order to check if these kind of problems a are due to telegram polling or redbot. Have you tried playing with the polling interval?

[2018-02-05 11:45] guidone commented on #168
No problem! I rather spend some time this way rather than risking to lose a good feedback 👍

[2018-02-05 12:06] dezmob commented on #169
I'm on the v0.9.15.
I've set the polling to 100ms and now my bot seems to receive all my messages!

Thanks!

[2018-02-06 16:02] #169 closed

[2018-02-06 16:03] #168 closed

[2018-02-08 12:51] lgertel opened #171 "Programmatic function to send buttons"
Hello everyone. I'm following the documentation do send buttons inside a function.
There is one gotcha: I have to add extra parameters to make it work. Does anyone know if we need to do that for every message or i'm doing something wrong.
For the button example, I have to inject the type and chatId.

`msg.payload = {
  type: "inline-buttons",
  chatId: msg.payload.chatId,
  content: 'This is a mes

[2018-02-08 13:32] guidone commented on #171
Try connecting the function node to the buttons node and the buttons node to the telegram sender.  In the function node just return the payload the buttons array the message

[code]

[2018-02-08 13:46] lgertel commented on #171
Fantastic! This is true for all the other components?
I'm asking that because all the flow and context in my app is controlled by Watson Conversation.

I'm building a custom object from response to switch to the correct compontent.

Thanks!!!

[2018-02-08 13:48] guidone commented on #171
Yes, in general for each node you can specify programmatically one or more parameter in a upstream node.
Parameters specified inside the node configuration have always precedence.

For each node at the bottom of the help page there's the list of available parameters

To switch based on the "topic" of the conversation (which is a special variable in the chat context) use the `Rules node`

[2018-02-08 13:53] lgertel commented on #171
Question: And for components that have required fields? I have to ignore the message?
<img width="864" alt="screen shot 2018-02-08 at 11 53 11" src="https://user-images.githubusercontent.com/634985/35976256-b8f3b9aa-0cc6-11e8-9903-dcadc08ae6b4.png">
<img width="991" alt="screen shot 2018-02-08 at 11 53 05" src="https://user-images.githubusercontent.com/634985/35976260-b97b441a-0cc6-11e8-8a97-56a51

[2018-02-08 13:56] guidone commented on #171
Yes ignore it, I will fix in order to accept empty elements

[2018-02-09 08:29] #171 closed

[2018-02-10 04:49] mrlake opened #172 "Install not working. looks like slack/client dependancy is broken."
Hi,

I'm having problems getting up and running.  Fallen at the first hurdle......    I have pasted the install progress of both chatbot and slack/client below and attached the debug log.

Do you have any pointers for me ?

 npm install node-red-contrib-chatbot
npm WARN package.json node-red-project@0.0.1 No repository field.
npm WARN package.json node-red-project@0.0.1 No README data
npm WARN pac

[2018-02-10 07:41] guidone commented on #172
It strange, the publishing process tests all dependencies before publishing the package.

Beside the slack client is very popular and named `@slack/client` and not `slack/client`

I suspect you're using an old version of node/npm

[code]

[2018-02-10 11:51] mrlake commented on #172
Yup..  That was it.

Raspbian default is ancient even from the new stretch image.  I just installed the latest LTS of node.js and and node red with this command: update-nodejs-and-nodered

I cant believe how easy this is getting and that is down to people like you contributing great work, thank you.  I'm now rubbing my hands and about to tuck into some serious chatbot action!

[2018-02-10 11:51] #172 closed

[2018-02-11 09:44] guidone commented on #172
Perfect! Thanks and good work with it

[2018-02-13 16:06] GermaN-st opened #173 "Keyboard buttons from function node"
Hello.
Since the last versions. After about 0.8.7, the sending of the keyboard to telegram node via the function block doesn't work.
How I did it:

Function node:
![image](https://user-images.githubusercontent.com/30233260/36159893-e9b13cf6-10f0-11e8-810d-8d02263e6a14.png)

![image](https://user-images.githubusercontent.com/30233260/36159862-dab00976-10f0-11e8-81a4-d54713bf9fd0.png)

It was very c

[2018-02-14 18:43] guidone commented on #173
Ok fixed in `0.9.21`, the `Keyboard node` completely revamped, so the passed payload is no longer compatible with the one in the screenshot ([see here](https://github.com/guidone/node-red-contrib-chatbot/wiki/Keyboard-node)) but it's possible to defined row of buttons directly in the config panel

[2018-02-16 11:31] DimiDr0l opened #177 "Will support the group or super group?"
Hi,
Will support the group or super group?

[2018-02-16 15:29] #116 closed

[2018-02-16 15:29] #173 closed

[2018-02-20 21:04] aniston opened #178 "Required node-telegram-bot-api else Telegram IN/OUT does not appear under RebBot Platforms"
@guidone , Ottimo Lavoro, Complimenti ;)
Good work on this ChatBot, Congrats.

i've just installed and tried out the node-red-contrib-chatbot v0.9.22, but could not see the Telegram IN/OUT nodes under RedBot Platforms, only after installing the node-telegram-bot-api (currently at v0.30.0) the Telegram IN/OUT nodes showed up.

Has anyone else experienced this behaviour ?
If the node-telegram-bot-ap

[2018-02-21 10:26] guidone commented on #178
Thanks @aniston , that never happened to me, the redbot already have as dependency node-telegram-bot-api, I don't see any reason why it should use the global one instead of the local one.
Perhaps the installation failed in some why.

I'd wait a couple of days to be sure that no one has the same problem before closing the issue

Thanks for the feedback

[2018-02-22 19:55] aniston commented on #178
Hello @guidone , i checked the npm install log and yes the node-telegram-bot-api did **not** install, as of now i cannot replicate as it is already installed, mine may be a one off case due to other system parameters/issues, so I guess you can safely close the issue if no one else brings it up.

[2018-02-23 09:15] guidone commented on #178
🖖

[2018-02-23 09:15] #178 closed

[2018-03-02 22:07] TotallyInformation opened #181 "Error with telegram bot"
[code]
I am also getting
[code]
Running on node.js v8.9.4, Node-RED v0.18.4 on Windows 10. redbot v 0.9.24

The bot it refers to is not being referenced anywhere else.

[2018-03-02 22:18] jheiselman commented on #129
One idea would be to check the bot's ID after connecting to the service (bot.info) then check all incoming messages for `subtype = "bot_message"` and `bot_id != self.id`

[2018-03-02 22:21] jheiselman opened #182 "Inject ad-hoc messages"
In a previous version of RedBot, I was able to manually create a JSON object representing a chat message and pass it to a Telegram Sender. This would act as a way for me to gateway messages from other services to me as alerts. This doesn't appear to work anymore in the current version v0.9.24.

I understand that the project aims to provide more of a user-initiated automation, however, I wonder if

[2018-03-06 19:12] guidone commented on #181
Can you try opening the `Configuration nodes` menu item and see if there's some hidden Telegram config node that may be run another Telegram instance

[2018-03-06 19:17] guidone commented on #182
Yes it's still possible, is this example what you are trying to do?

https://github.com/guidone/node-red-contrib-chatbot/wiki/Start-conversation

You can also create your message programmatically

https://github.com/guidone/node-red-contrib-chatbot/wiki/Message-node

[2018-03-06 19:46] jheiselman commented on #182
Ah yes. That works for me. Thank you.

[2018-03-06 19:54] guidone commented on #182
🖖

[2018-03-06 19:54] #182 closed

[2018-03-12 09:33] jibdata opened #184 "Error on clean installation of 0.9.25"
Get following errors when doing a clean install of 0.9.25:
12 Mar 10:30:45 - [info]  - node-red-contrib-chatbot:chatbot-telegram-node : Error: cannot enable cancellation after promises are in use (line:3)
12 Mar 10:30:45 - [info]  - node-red-contrib-chatbot:chatbot-telegram-receive : Error: cannot enable cancellation after promises are in use (line:3)
12 Mar 10:30:45 - [info]  - node-red-contrib-c

[2018-03-12 10:45] jibdata commented on #184
chatbot-telegram-node, chatbot-telegram-receive and chatbot-telegram-send are not working
so it seems that the errors described i my last post is fatal for the functionality of these nodes

[2018-03-12 10:49] guidone commented on #184
Seems it has something to do with telegram api library, I'll try to update the lib

https://github.com/yagop/node-telegram-bot-api/issues/319

[2018-03-12 13:54] Ksedline opened #185 "Error on image sending via Image node + Facebook node"
There is a problem with an image node. When I'm trying to send image to facebook  with facebook out node I've got this error:
"Error: EISDIR: illegal operation on a directory, open 'C:\Users\admin\AppData\Local\Temp'".
It is a problem with the way the Facebook connector upload the file.
It stores in a temp directory and then upload.

[2018-03-13 11:37] TJphonix commented on #51
Same issue for me, i have 0.9.25 version.
If i try to install beta version as suggested, doesn't wotk (probably because my actually version is newest).

Did you think i must to uninstall my actyally version and install the old beta you suggest before?

[2018-03-13 11:40] guidone commented on #51
Yes the beta is old, perhaps it’s a different problem.
Can you send exactly what you see in system console?

[2018-03-13 11:59] TJphonix commented on #51
"TypeError: message.chat is not a function"
the same error of @gabbiano83

[2018-03-13 12:33] Ksedline opened #186 "Issue with Dialogflow node"
When dialogflow node starts a script from the second output (if no intent is detected) it pulls null in first output also.

[2018-03-13 12:34] guidone commented on #51
Can you share the flow (export), in this way I can debug on my box?

[2018-03-13 13:36] TJphonix commented on #51
[{"id":"2e65bf09.2da18","type":"chatbot-telegram-send","z":"f65fe3d9.4eac4","bot":"ecd8cf46.a180a","botProduction":"","track":false,"outputs":0,"x":1027,"y":190,"wires":[]},{"id":"e1dea7ab.5cf378","type":"link in","z":"f65fe3d9.4eac4","name":"From MQTT","links":["369d9092.04346","935c5e87.642e2","e312e8e8.277d08"],"x":276,"y":246,"wires":[["278f8bf6.343b14"]]},{"id":"bbb93433.48ad28","type":"link

[2018-03-13 13:43] TJphonix commented on #51
However, when i send a flow to "Telegram Sender" activity, what is the format of structure it expect? Can you post an example? So i think to remap input data for this activity

[2018-03-13 14:38] guidone commented on #51
Seems to me that you're trying to work directly with the internals of `Telegram sender` and this is fundamentally wrong, there are a lot of higher level nodes to send text messages, images, etc.
More: the internal behaviour is likely to change in the next versions and any code dealing directly to it will break.

https://d.pr/i/yCXNL8

This kind of error happens when something that is not e RedBot

[2018-03-13 15:19] TJphonix commented on #51
I want to accomplish a request/replay activity with command send by telegram.

The received telegram command is forwarded to a subflow that execute an activity.
One of this activity send a message to MQTT sender, so the receiver MQTT perform the action and send back the answer that i want to send back to chat user by telegram.

Another activity triggered by telegram command, is to execute a pre se

[2018-03-13 15:22] guidone commented on #51
Yes it's possible

https://github.com/guidone/node-red-contrib-chatbot/wiki/Conversation-node

The parameters chatId and transport can be passed through the payload by the upstream `Function node`:

[code]

it should work

[2018-03-13 15:27] TJphonix commented on #51
so i have to put a function actvity before conversation activity with this code (properly modified for my purpose), and leave blank chatId field into conversation activity?

[2018-03-13 15:28] guidone commented on #51
exactly, all redbot nodes work in this way, it's always possible to specify parameters programmatically in the payload

[2018-03-13 15:31] TJphonix commented on #51
Ok i will try and replay you soon for confirmation...

[2018-03-13 16:15] TJphonix commented on #51
OK it works!
Solved using Conversation activity between Join and Telegram Sender Activity.
In conversation activity Transport and Telegram Bot must be configured while ChatId and MessageId must be leaved blank.

Attributes must be passed by payload (these come from Join Activity), so the flow works great.

Thank you very much !

![image](https://user-images.githubusercontent.com/9317537/37354474-0

[2018-03-13 16:26] guidone commented on #51
Perfect!

[2018-03-14 10:20] TJphonix commented on #125
Hi @guidone,
i see that a list of authorized user must be set statically into Telegram Node, under "Bot configuration", filling the field named "Users" with comma separated list of userId.

If i want to pass dynamically this list, how i do?
For example, i have to retrieve the list from a DB and passing by msg

[2018-03-15 11:56] jibdata commented on #184
Just a little extra thing.
Since i downgraded to 0.9.24, I have discovered that the issue with blank Type dropdown in the Context config node have returned.

[2018-03-17 08:50] guidone commented on #184
Hi @jibdata I've just updated to `0.9.26` with the updated lib of Telegram, if this doesn't solve the problem I'll need more info about your configuration (os/version of node/version of node red) since I'm not able to replicate the problem on my box

[2018-03-17 10:18] ThibautRuy opened #188 "npm ERR! shasum check failed"
17 Mar 11:09:48 - [warn] Installation of module node-red-contrib-chatbot failed:

17 Mar 11:09:48 - [warn] ------------------------------------------
17 Mar 11:09:48 - [warn] Error: Command failed: npm.cmd install --save --save-pr
efix="~" --production node-red-contrib-chatbot@0.9.26
npm ERR! Windows_NT 6.1.7601
npm ERR! argv "C:\\Program Files\\node-v6.8.1-win-x86\\node.exe" "C:\\Program Fi
les\\

[2018-03-17 10:20] ThibautRuy commented on #188
I have this installation error, using node-red on windows

[2018-03-17 16:46] #181 closed

[2018-03-18 17:31] suiluj opened #189 "Telegram webhook option available?"
Hello,
i was able to use the Telegram Receiver with polling.

Is there an option to use it with webhook instead?
I have https certificates so that is not a problem.

Thank you for your help.

[2018-03-19 09:12] jibdata commented on #184
Hi,
After upgrade to 0.9.27 the nodes is working (meaning Chatbot can be used), but it throws the warning in console on start:
_Mon, 19 Mar 2018 08:48:18 GMT node-telegram-bot-api deprecated Automatic enabling of cancellation of promises is deprecated.
In the future, you will have to enable it yourself.
See https://github.com/yagop/node-telegram-bot-api/issues/319. at module.js:643:30_

Since auto

[2018-03-20 15:39] guidone commented on #189
Not currently, in theory it's possible, the point is that there's no backend in Telegram to handle webhooks, so some sort of UI will be needed in RedBot to handle these webhooks.

Why would you use the webhook instead of the polling?

[2018-03-20 17:26] suiluj commented on #189
thanks for your answer.
i kind of like the direct response when actually someone is using the bot instead of in worst case 1sec waiting.
i know i could set the polling faster but then there would be a lot of requests even when nobody is doing anything.
webhooks are more elegant.

you can set a webhook for telegram bots:
[https://core.telegram.org/bots/webhooks](https://core.telegram.org/bots/webho

[2018-03-21 08:03] joside opened #190 "Polling error, Telegram receiver does not work"
I created one simple test workflow as described on your page.
In my node-red-log I see
`error: [polling_error] {"code":"EFATAL","message":"EFATAL: Error: connect ENOENT /botxxxxxxxxx:xxxxxxxxxxxxxxxxxxxx/getUpdates"}`

If i am doing
`curl https://api.telegram.org/botxxxxxxxxx:xxxxxxxxxxxxxxxxxxxx/getUpdates` per SSH on the same machine I am getting the correct JSON result.

(Sure, I replaced the t

[2018-03-21 08:31] guidone commented on #190
I tried a quick receiver - text - sender and it works, can you export your flow here (credentials will no be exported)

[2018-03-21 08:36] joside commented on #190
`[{"id":"e5c0d433.28da38","type":"chatbot-telegram-receive","z":"2cabaefe.e05382","bot":"d44b252a.24f978","botProduction":"","x":200,"y":300,"wires":[["20c9091b.870a16"]]},{"id":"30c87df2.ab4d12","type":"chatbot-telegram-send","z":"2cabaefe.e05382","bot":"d44b252a.24f978","botProduction":"","track":false,"outputs":0,"x":640,"y":320,"wires":[]},{"id":"20c9091b.870a16","type":"chatbot-message","z":"

[2018-03-21 08:38] joside commented on #190
... I hope I did the export correctly, never did this before in node-red...

[2018-03-21 08:39] guidone commented on #190
The message is blank

https://d.pr/i/SrUwrI

[2018-03-21 08:40] joside commented on #190
`[{"id":"e5c0d433.28da38","type":"chatbot-telegram-receive","z":"2cabaefe.e05382","bot":"d44b252a.24f978","botProduction":"","x":200,"y":300,"wires":[["20c9091b.870a16"]]},{"id":"30c87df2.ab4d12","type":"chatbot-telegram-send","z":"2cabaefe.e05382","bot":"d44b252a.24f978","botProduction":"","track":false,"outputs":0,"x":640,"y":320,"wires":[]},{"id":"20c9091b.870a16","type":"chatbot-message","z":"

[2018-03-21 08:40] joside commented on #190
Added a text. But this does not change anything, still getting that error in the logs

[2018-03-21 08:50] guidone commented on #190
It works on my machine, I'm using this library internally

https://github.com/yagop/node-telegram-bot-api

this error comes straight from this lib, since ENOENT means something like "error no entity" is it possible that in the token configuration there is an extra space or something like that? Something that may corrupt the link _https://api.telegram.org/botxxxxxxxxx:xxxxxxxxxxxxxxxxxxxx/getUpdate

[2018-03-21 09:15] joside commented on #190
No, I can't find any corrupting characters.

[2018-03-21 10:00] guidone commented on #190
Ok it’s a Raspberry, could it be a problem of permission? You are curl-ing from shell as root but perhaps the process of node-res has not enough privileges, can you try doing the same http call you’re doing with curl in a http node inside node-red? If http node doesn’t work it should be a permission problem for node-red

[2018-03-21 10:16] joside commented on #190
Sorry to say that this also does work:
`[{"id":"9f0f19f5.33fa28","type":"debug","z":"2cabaefe.e05382","name":"","active":true,"console":"false","complete":"true","x":630,"y":560,"wires":[]},{"id":"24851e03.e8ac82","type":"http request","z":"2cabaefe.e05382","name":"","method":"GET","ret":"txt","url":"https://api.telegram.org/bot459356375:AAFUia6MFyqUZR74BbZrucp5dPHjE9031a8/getUpdates","tls":"","x"

[2018-03-21 11:43] guidone commented on #190
I checked with your token and it works (now I removed from the message), I tried with the last telegram api and it works.
I’m sorry I’m out of options.

To exclude a problem with environment you could try locally (not on raspberry) and see if it works (for example a desktop)

Which version of node/node-red?

[2018-03-21 11:51] joside commented on #190
Node-RED version: v0.17.5
Node.js  version: v8.9.3
Linux 4.9.59-v7+ arm LE

[2018-03-21 13:37] athphane opened #191 "Message node. This node is not available for transport: null"
Here's my flow. It's super long cause the inject node has the same data that my Sonarr API gives me.
What am I doing wrong?

`[{"id":"53de41a8.c778a","type":"split","z":"faa7527a.b8064","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":210,"y":400,"wires":[["1695cfd6.28553","9f66a1b2.b3d4b"]]},{"id":"9f66a1b2.b3d4b","type":"debug","z":"faa7

[2018-03-22 08:30] guidone commented on #190
Node-Red version is quite old, I'm not sure if it matters but it worth upgrading.

I'm out of options here, you could try on a different environment - like desktop - if it works the problem is related to the particular environment. I don't have a Raspberry, so I cannot try myself

[2018-03-22 16:41] #188 closed

[2018-03-23 08:04] guidone commented on #191
I guess you have to add a conversation node before the text node

https://d.pr/i/Kr3Epe

You can read more here

https://github.com/guidone/node-red-contrib-chatbot/wiki/Conversation-node

[2018-03-23 08:20] guidone commented on #186
Fixed in '0.9.28'

[2018-03-23 08:20] #186 closed

[2018-03-23 08:20] guidone commented on #185
Fixed in `0.9.28`

[2018-03-23 08:20] #185 closed

[2018-03-23 08:20] guidone commented on #184
Fixed in `0.9.28`

[2018-03-23 08:24] guidone commented on #189
Ok, I'll add to the roadmap but with a low priority, it's a big effort compared to the value that brings to the framework, let's see if someone else asks for it.

[2018-03-23 09:13] jibdata commented on #184
Good.
I will test the new version as soon it is available in the Node-RED repo.

[2018-03-23 11:45] jibdata commented on #184
Tried to upgrade to 0.9.28, and still there is warning:
_Fri, 23 Mar 2018 11:33:57 GMT node-telegram-bot-api deprecated Automatic enabling of cancellation of promises is deprecated.
In the future, you will have to enable it yourself.
See https://github.com/yagop/node-telegram-bot-api/issues/319. at module.js:643:30_

Also, the issue with blank Type dropdown in the Context config node is still ther

[2018-03-23 15:43] jibdata commented on #164
Have you decided anything regarding this matter?

[2018-03-23 15:43] guidone commented on #184
:spock-hand: ok, thanks for for the feedback

[2018-03-23 15:43] #184 closed

[2018-03-26 04:49] flamingm0e opened #194 "Duplicate responses in Telegram"
When I try to start a command sequence (/start) to my bot, every time I make a change and deploy, the response comes back multiple times.  It starts with one or 2, but re-deploying quickly turns it to 5-6+.

I am trying to make a very menu like system for a bot so that I can interact with my home assistant instance with it.

When I send a command of /start, I want it to display a set of buttons to

[2018-03-26 07:00] guidone commented on #164
Hi @jibdata , yes I can work on this. Basic support to text messages and images/files will be enough for you to test/use it?

[2018-03-26 07:04] guidone commented on #194
Hi @flamingm0e thanks for the detailed issue, which version of RedBot are you using?

[2018-03-26 09:11] jibdata commented on #164
That's good news.
Let's start with basic support and take it from there.

[2018-03-26 23:07] flamingm0e commented on #194
I am on version 0.9.28 on node-red 0.18.4, using the v8 builds of node-red (for use with latest home-assistant nodes)

[2018-03-28 07:13] #191 closed

[2018-03-28 07:16] guidone commented on #194
Hi @german-st I've fixed a bug with `0.9.29` where unused Telegram bot config where launched even if not used, causing some polling error, @flamingm0e I'm not sure this will fix the duplicate message, I'm still investigating it (I saw this happen a while ago but I'm not able to replicate)

[2018-03-28 14:10] flamingm0e commented on #194
Thank you, my friend.

I will test this out as soon as I can tonight

[2018-03-29 07:03] guidone commented on #161
Hi @german-st I've a final beta for the global configuration, would you like to test it before the release?

[code]

Thanks

[2018-03-30 09:15] german-st commented on #161
Hello @guidone
I am tested and it works fine ;) Checked in two configurations.

`telegram: {
			'Knowledge': {
			  token: 'test:test',
			  polling: 1000,
			  parseMode: 'html',
			}
		},
		facebook: {
				'KnowledgeBOT': {
				  token: 'test',
				  appSecret: '77777',
				  verifyToken: '777777'
				}
		},`

Everything works fine. Unfortunately there is no way to check the slack and the smooch

[2018-03-31 09:55] guidone commented on #161
@german-st added some docs, do you think it's enough? Something missing?

[2018-04-01 19:14] german-st commented on #161
@guidone
All is well. I do not know, maybe we should add Smooch example?

[2018-04-05 15:40] guidone commented on #161
@german-st the smooch connector is still old style and doesn't support global configuration, still wondering if someone is using it

[2018-04-05 16:11] german-st commented on #161
@guidone I just noticed that it is there, and there is no description for the configuration. So I wrote it) I do not use it myself. Then there is nothing more to add)

[2018-04-09 14:54] guidone commented on #164
Hi @jibdata have you aver tried to build a chatbot in Zulip? The support fo chatbot it's very strange, there are inbound webhook and outbound webhook but not both.
Another kind of chatbot can only be handled from a python script which is a kind of extension of the server.

[2018-04-12 09:15] carlosrodand commented on #194
Try to set "full deploy" and deploy the whole thing ...

In my case, a partial deploy (current flow) ends up with this behavior

[2018-04-12 09:18] guidone commented on #194
@carlosrodand I've been chasing this bug for days without being able to replicate it, this is a good clue, thanks

[2018-04-12 13:04] Ksedline opened #199 "Sticker Node Problem"
There is a problem with a sticker node and telegram. It does not works for custom sticker packs. I'm trying to send this id: CAADAgADAQADkea5FFY2S2hruN-UAg, which I got from GetStickerIdBot
Also it does not want to change a sticker's node name when you trying to do it from sticker node config (I know that does not call API or something, but if you fix this - it will help me when I have 2 more Stic

[2018-04-12 14:15] carlosrodand commented on #137
@guidone
I have installed old version 0.9.14 on bluemix by editing package.json and adding the dependency.
But if I try to update to current 0.10.2 version in the palette manager, it says update failed. But at least I can use the old version now (I have used that version because is the one I installed in the past without problems)

[2018-04-12 18:02] carlosrodand commented on #137
@guidone
I have forced node-red at IBM bluemix (Cloud) to install version 0.9.14 (setting a dependency in packages.json) and it works.
But it still refuses to update to 0.10.2 showing the same error "Installation of module node-red-contrib-chatbot failed".

[2018-04-19 13:53] guidone commented on #199
It turned out the sticker node was not working at all, I've fixed it in `0.12.1`, can you check?
Thanks for the feedback

[2018-04-19 13:56] Ksedline commented on #199
It works. Thank you!

[2018-04-19 13:56] guidone commented on #199
good 🖖

[2018-04-19 13:56] #199 closed

[2018-05-02 21:54] Freyja-Folkvangr commented on #137
I've the same error, I've installed RedBot by modifying the package.json file

[2018-05-02 21:58] Freyja-Folkvangr opened #203 "Can't generate Telegram keyboard from function"
The keyboards node received an update that broke the ability to generate the keyboard from code.
Maybe the node docs were not updated. This is what I'm doing, used to work before...

`msg.payload = {
  message: 'The message with the buttons',
  buttons: [
    {value: 'text 1', label: 'label of the button 1'},
    {value: 'text 2', label: 'another label'}
  ]
}
return msg;`

I'm receiving the messa

[2018-05-09 19:01] xeor commented on #164
I've been playing with the python zulip lib. I'm not sure if it supports other methods, but I create 1 instance, then register a callback function on it, then use an instance created the same way to send messages.

Won't the functionality of https://github.com/zulip/zulip-js do the trick you think?

[2018-05-13 16:00] rneurink opened #204 "reset-buttons type telegram not functioning as expected"
Hi,

I'm having some issues with clearing the custom keyboard in Telegram.
I've found in your code that you have made a type to use the [replykeyboardremove](https://core.telegram.org/bots/api#replykeyboardremove) in the api. Now i've tried this with a function node containing:
`msg.payload = {
  type:"reset-buttons"
};
return msg;`

When i send this message it just hides the keyboard instead of c

[2018-05-13 17:01] rneurink commented on #203
This does not work anymore since the text you put in the message part of the node is going to be the message.content or the visible message the user gets. This doesn't get parsed or anything. You can however use the normal buttons interface or using a function node:
`msg.payload = {
    type: "buttons",
    content: "Message",
    chatId: msg.originalMessage.chatId,
    messageId: msg.originalMess

[2018-05-13 17:40] rneurink commented on #204
I forgot the message.content i hoped i would be able to achieve this without posting a message. If anyone knows how to do this without posting a message please comment.

[2018-05-13 17:40] #204 closed

[2018-05-14 07:02] guidone commented on #203
@Freyja-Folkvangr according to the docs it should work, let me check

[2018-05-14 07:14] guidone commented on #203
@Freyja-Folkvangr sorry, the docs on node-red is not updated, the script that updates the wiki with the local help was not updated, the updated documentation is here

https://github.com/guidone/node-red-contrib-chatbot/wiki/Keyboard-node

You have to specify the `type` of the buttons

[2018-05-14 07:17] guidone commented on #204
is this all right?

[2018-05-14 07:55] rneurink commented on #204
It would be nice if this was possible without posting a message but when you look at examples of other bots all the bots return a message and clear the keyboard at that point. It may be handy to create a new option (checkbox) in the text node or so to clear the keyboard

[2018-05-14 07:55] guidone commented on #204
I've to check but I think it's the Telegram API doesn't allow it

[2018-05-19 16:35] bricegomis commented on #190
I have the same issue on my raspberry. Have you find a solution ?
My node-red is almost the lastest version v0.18.4

[2018-05-19 19:26] bricegomis commented on #190
For future people who will have this error, I managed to fix the problem by updating the request-promise package with these two commands, since more errors :)

I start with the use of nodejs and npm so I would say there was a problem of dependencies, if an expert can explain it, I'm interested.

[2018-05-20 17:38] edperry opened #206 "slack: Get user info and other type of information"
I am looking to use ChatBot to add users to the appropriate gitub repo's

I don't see any "Hooks" in any of the nodes to do things like get User Info which would provide me the email address of the user in the conversation.

https://api.slack.com/methods/users.info

Am I missing something?   If not any pointers where it would be best to add this functionality.

I am presuming  I would create a new

[2018-05-22 10:27] joside commented on #194
Same for me, doing only a partial deploy will duplicate the answers sent.

[2018-05-23 16:31] leRenart opened #207 "Missing configuration in Slack Receiver"
Hello and thank you for this nice project.

I'm trying to configure a Slack bot without success. I've got two errors once deployed a `Slack Receiver` node. (on Slack side everything is ok, bot is successfully created)

[code]

![image](https://user-images.githubusercontent.com/1085151/40438088-70049d7a-5eb7-11e8-9903-ec0c5eea13ac.png)

[2018-05-26 11:50] renne opened #208 "Support Signal messenger"
I suggest to use [libsignal-protocol-javascript](https://github.com/signalapp/libsignal-protocol-javascript) to support the [Signal](https://signal.org/)  messenger.

[2018-05-26 13:10] parthsharma1996 commented on #112
I am having a similar error. However adding `--unsafe-perm` doesn't resolve it.

Can someone help me figure out what's happening?

Here's the entire output
[code]

[2018-05-28 16:33] eperry commented on #206
Cleaned it up so I am no long a fork and have a seperate repo that will add these features
https://github.com/eperry/node-red-contrib-chatbot-slacknodes

[2018-06-02 19:05] joancorbella commented on #51
Hi,
I like to send to telegram the value of variable stored on msg.payload from mqtt value.
How I can send this value?

Best

[2018-06-02 19:21] guidone commented on #51
Hi, if you leave the text fields empty in the message config panel it
should take directly from the message.payload of the upstream node, so just
connect them and should work

Guido
Il giorno sab 2 giu 2018 alle 21:05 joancorbella <notifications@github.com>
ha scritto:

[2018-06-02 22:41] joancorbella commented on #51
Many thanks guidone

[2018-06-06 08:16] merlinmb opened #210 "Image node does not accept binary buffer from HTTP node"
Hi - first up, thanks for an awesome system!
I'm struggling to link together the http node (node red) directly to the chatbot image node.
returns an error:
"Error: EISDIR: illegal operation on a directory, open '/tmp/'"

Seems the image node requires a filename and cannot handle a binary buffer as direct input?
![image](https://user-images.githubusercontent.com/6130951/41025601-a3f1b5c6-6972-11e8-

[2018-06-06 08:20] merlinmb opened #211 "chatbot Image node does not handle complex urls"
I tried using a URL directly in the config of the image node:
![image](https://user-images.githubusercontent.com/6130951/41025710-eb33d964-6972-11e8-9976-c17a6a5c737a.png)

and it seems to not allow complex URLs that specify https, and/or plain text auth pushed as part of the image url (https://username:password@url_IP_address).

The error output is:
"Don't know how to handle: https://username:pas

[2018-06-06 09:55] guidone commented on #210
Hi @merlinmb it should hadle it, I'll check in the next hours

[2018-06-06 10:12] guidone commented on #211
Ok, I’ll update the regulR expression that matches the url, thanks for the feedback

[2018-06-06 11:50] guidone commented on #210
Hi @merlinmb I did a quick test and it works for me, can I see the configuration of the "http request" node? In particular are you returning the content of the http request as a buffer and not a string (the default is string)

[2018-06-07 08:08] guidone commented on #210
@merlinmb ok fixed in node-red-contrib-chatbot@0.12.7

[2018-06-07 08:41] merlinmb commented on #210
thanks for the quick response - updating now.

[2018-06-07 11:47] guidone commented on #207
sorry @leRenart for the late response, are you using DEV or PROD configuration?

[2018-06-07 11:49] guidone commented on #206
Thank you @eperry, I'll add the link to your fork to the readme so other users can find and use them

Sorry for the late response

[2018-06-07 12:23] eperry commented on #206
no worries, started with a request and ended up learning a lot.

On Thu, Jun 7, 2018 at 7:49 AM Guidone <notifications@github.com> wrote:

--
Sincerely

Edward Perry

[2018-06-08 08:37] guidone commented on #211
It should be fixed in `0.12.8`

[2018-06-08 09:13] merlinmb commented on #210
Thank you, @0.2.17 works nicely. Good thinking with the unique temp filename, I simultaneously upload images to slack.

[2018-06-08 09:14] guidone commented on #210
🖖

Thanks for the feedback

[2018-06-08 09:14] #210 closed

[2018-06-13 13:30] luismanson opened #214 "chatId not being defined"
Hello, im having trouble figuring if this is a bug or an error on my part. I have an inject node send a message to a chatbot-conversation, which is not setting up chatId.

Inject settings:
`{
  "_msgid": "1b6a4fcd.d3edc",
  "topic": "/indoor/MiGrowOS-esp32_3B27C0/events",
  "payload": {
    "type": "message",
    "content": "Hola, this is an event\n"
  },
  "_event": "node:5ffacfa7.094278"
}
`

de

[2018-06-14 06:51] #211 closed

[2018-06-14 07:03] guidone commented on #214
Hi @luismanson here is an example for starting a conversation

https://github.com/guidone/node-red-contrib-chatbot/wiki/Start-conversation

It's possible to set some parameters of a **RedBot** node in a upstream node, for example in a text node to create the content of the message programmatically (the list of parameters that can be specidfied ins generally in the help page,  here for example http

[2018-06-14 15:24] luismanson commented on #214
Thanks @guidone, i have removed the "type"  parameter from my inject node and added transport parameter. Looking at "start conversation" article i noticed i was kinda building the flow backwards.

thanks!

[2018-06-14 15:24] #214 closed

[2018-06-18 13:03] #207 closed

[2018-06-22 15:30] jflaflamme opened #217 "Facebook: Pass-thru for Messenger .. or second output pin?"
Hello @guidone

I saw the pass-thru branch and some work regarding different receivers but not for other types than messages. Any plans to make it work in a near future?

Otherwise, I was thinking to do another output pin for all unsupported event types in facebook receiver node. I forked and tried to implement via chat-platform.js to use a new function "unsupportedMessage" instead of inboundMessa

[2018-06-22 20:26] guidone commented on #217
Hi Jean-Francois,

I understand the need to extend the receiver, the chat-platform.js uses a pattern similar to express.js, it creates a server that can be expanded chaining middlewares.
So for its own nature it can be extended, unfortunately the documentation is missing, but I can work on that.

I don’t like very much the idea of the second pin, the first reason is above, the second is that once